body {
    font-size: .875rem;
    background-color: #F0F4FB;
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
  }
  a {
    color: white;
    text-shadow: 0 0 2px rgb(0, 0, 0);
    text-decoration: none;
    transition: color 0.3s ease;
  }
  a:hover {
    text-shadow: 0 0 2px #fff;
    color: rgb(0, 0, 0);
  }
  
  /* navbar */
  .admin-greeting {
    font-size: 1.3rem; 
    color: white; 
    text-shadow: 0 0 2px rgb(0, 0, 0);
  }
  .nav-link {
    color: white;
    text-shadow: 0 0 2px rgb(0, 0, 0);
    text-decoration: none;
    transition: color 0.3s ease;
  }
  .nav-link:hover {
    text-shadow: 0 0 2px #fff;
    color: rgb(0, 0, 0);
  }