body {
  font-size: .875rem;
  background-color: #F0F4FB;
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}
a {
  color: white;
  text-shadow: 0 0 2px rgb(0, 0, 0);
  text-decoration: none;
  transition: color 0.3s ease;
}
a:hover {
  text-shadow: 0 0 2px #fff;
  color: rgb(0, 0, 0);
}
h5{
  margin-bottom: 0;
  text-shadow: 0 0 2px rgb(0, 0, 0);
}
  
  /* main window */
  .window-heading{
    height: 5.5vh;
    background-color: #344F6D;
    color: white;
    border-radius: 13px 13px 0 0;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.5);
  }
  .sidebar {
    background-color: #F1F1F1;
    border-radius: 13px;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.5);
    margin: 10px 0;
    margin-top:5.5vh;
    padding-bottom: 1px;
  }

/* buttons */
.update-btn{
  width: auto;
  border-radius: 7px;
  background-color: #018383;
  color: white;
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.5);
}  
.cancel-btn{
  width: auto;
  margin-left: 10px;
  border-radius: 7px;
  background-color: #8C0000;
  color: white;
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.5);
}  