{% extends "faculty.html" %}
{% load static %}

{% block dashboardButton %}
<button class="nav-link active nav-pills-link" id="dashboard-tab" onclick="window.location.href = 'faculty-dashboard.html';" data-bs-toggle="pill" data-bs-target="#dashboard" type="button" role="tab" aria-controls="dashboard" aria-selected="true">
  <span class="iconify" data-icon="ci:dashboard" data-width="20" data-height="20"></span>
  Dashboard
</button>
{% endblock %}

{% block dashboardContent %}
<div class="tab-pane fade show active" id="dashboard" role="tabpanel" aria-labelledby="v-pills-home-tab">

  <!--Student Name-->
  <p style="font-size: 25px; display: flex; justify-content: center;">
    <strong>{{user.first_name}} {{user.last_name}} </strong>
  </p>

  <div class="d-flex align-items-center justify-content-center m-4">
    <h1 style="font-size: 25px; justify-content: center;">
      <strong>Marks</strong>
    </h1>
    <button type="button" class="btn btn-light meetings-btn ms-auto btn-sm btn-outline-dark" onclick="window.location.href = '{% url 'facultyAddMarks' request.user.usr_id %}';">
      Add Marks
    </button>
  </div>

  <!-- table -->
  <div class="table-div m-4">
    <table class="table table-striped table-bordered" style="widows: 100%;" id="marks-table">
      <thead>
        <tr>
          <th scope="col" class="px-2 py-1 text-center">Subject Code</th>
          <th scope="col" class="px-2 py-1 text-center">Sem</th>
          <th scope="col" class="px-2 py-1 text-center">Year</th>
          <th scope="col" class="px-2 py-1 text-center">Exam</th>
          <th scope="col" class="px-2 py-1 text-center">Marks</th>
          <th scope="col" class="px-2 py-1 text-center">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row" class="px-2 py-1 text-center">CSC101</th>
          <td class="px-2 py-1 text-center">1</td>
          <td class="px-2 py-1 text-center">FE</td>
          <td class="px-2 py-1 text-center">ESE</td>
          <td class="px-2 py-1 text-center">100</td>
          <td class="px-2 py-1 text-center">
            <button type="button" class="btn btn-info ms-auto btn-sm" style="border-color: black" onclick="window.location.href = '{% url 'facultyEditMarks' request.user.usr_id %}';">
              <span class="iconify" data-icon="bxs:edit" data-width="18" data-height="18"></span>
            </button>
          </td>
        </tr>
        <tr>
          <th scope="row" class="px-2 py-1 text-center">CSC102</th>
          <td class="px-2 py-1 text-center">1</td>
          <td class="px-2 py-1 text-center">FE</td>
          <td class="px-2 py-1 text-center">ESE</td>
          <td class="px-2 py-1 text-center">100</td>
          <td class="px-2 py-1 text-center">
            <button type="button" class="btn btn-info ms-auto btn-sm" style="border-color: black" onclick="window.location.href = '{% url 'facultyEditMarks' request.user.usr_id %}';">
              <span class="iconify" data-icon="bxs:edit" data-width="18" data-height="18"></span>
            </button>
          </td>
        </tr>
        <tr>
          <th scope="row" class="px-2 py-1 text-center">CSC103</th>
          <td class="px-2 py-1 text-center">1</td>
          <td class="px-2 py-1 text-center">FE</td>
          <td class="px-2 py-1 text-center">ESE</td>
          <td class="px-2 py-1 text-center">100</td>
          <td class="px-2 py-1 text-center">
            <button type="button" class="btn btn-info ms-auto btn-sm" style="border-color: black" onclick="window.location.href = '{% url 'facultyEditMarks' request.user.usr_id %}';">
              <span class="iconify" data-icon="bxs:edit" data-width="18" data-height="18"></span>
            </button>
          </td>
        </tr>
        <tr>
          <th scope="row" class="px-2 py-1 text-center">CSC104</th>
          <td class="px-2 py-1 text-center">1</td>
          <td class="px-2 py-1 text-center">FE</td>
          <td class="px-2 py-1 text-center">ESE</td>
          <td class="px-2 py-1 text-center">100</td>
          <td class="px-2 py-1 text-center">
            <button type="button" class="btn btn-info ms-auto btn-sm" style="border-color: black" onclick="window.location.href = '{% url 'facultyEditMarks' request.user.usr_id %}';">
              <span class="iconify" data-icon="bxs:edit" data-width="18" data-height="18"></span>
            </button>
          </td>
        </tr>
        <tr>
          <th scope="row" class="px-2 py-1 text-center">CSC105</th>
          <td class="px-2 py-1 text-center">1</td>
          <td class="px-2 py-1 text-center">FE</td>
          <td class="px-2 py-1 text-center">ESE</td>
          <td class="px-2 py-1 text-center">100</td>
          <td class="px-2 py-1 text-center">
            <button type="button" class="btn btn-info ms-auto btn-sm" style="border-color: black" onclick="window.location.href = '{% url 'facultyEditMarks' request.user.usr_id %}';">
              <span class="iconify" data-icon="bxs:edit" data-width="18" data-height="18"></span>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

</div>
{% endblock %}
