{% extends "faculty.html" %}
{% load static %}

{% block dashboardButton %}
<button class="nav-link active nav-pills-link text-left d-flex align-items-center" id="dashboard-tab" onclick="window.location.href = '{% url 'faculty' user.usr_id %}';" data-bs-toggle="pill" data-bs-target="#dashboard" type="button" role="tab" aria-controls="dashboard"
  aria-selected="true">
  <span class="iconify" data-icon="ci:dashboard" data-width="20" data-height="20"></span>
  &nbsp;Dashboard
</button>
{% endblock %}

{% block dashboardContent %}
<div class="tab-pane fade show active" id="dashboard" role="tabpanel" aria-labelledby="v-pills-home-tab">

  <div class="d-flex align-items-center justify-content-center mt-3 mb-3 text">
    <h1 style="font-size: 25px; justify-content: center;">
      <strong>Add CGPA</strong>
    </h1>
  </div>

  <form action="" method="POST">
    {% csrf_token %}
    <!-- First Row  -->
    <div class="row">
      <div class="col-6 full-width-sm d-flex justify-content-center">
        <div class="form-group form-floating col-md-10">
          <input type="number" name='SemI' class="form-control" id="inputISem" placeholder="I Sem" min="4" max="10" step="0.01" {% if cgpa.semI %} value={{cgpa.semI}} {% endif %}>
          <label for="inputISem">I Semester</label>
        </div>
      </div>

      <div class="col-6 full-width-sm d-flex justify-content-center">
        <div class="form-group form-floating col-md-10">
          <input type="number" name='SemII' class="form-control" id="inputIISem" placeholder="II Sem" min="4" max="10" step="0.01" {% if cgpa.semII %} value={{cgpa.semII}} {% endif %}>
          <label for="inputIISem">II Semester</label>
        </div>
      </div>
    </div>

    <!-- Second Row  -->
    <div class="row mt-3">
      <div class="col-6 full-width-sm d-flex justify-content-center">
        <div class="form-group form-floating col-md-10">
          <input type="number" name='SemIII' class="form-control" id="inputIIISem" placeholder="III Sem" min="4" max="10" step="0.01" {% if cgpa.semIII %} value={{cgpa.semIII}} {% endif %}>
          <label for="inputIIISem">III Semester</label>
        </div>
      </div>

      <div class="col-6 full-width-sm d-flex justify-content-center">
        <div class="form-group form-floating col-md-10">
          <input type="number" name='SemIV' class="form-control" id="inputIVSem" placeholder="IV Sem" min="4" max="10" step="0.01"  {% if cgpa.semIV %} value={{cgpa.semIV}} {% endif %} >
          <label for="inputIVSem">IV Semester</label>
        </div>
      </div>
    </div>

    <!-- Third Row  -->
    <div class="row mt-3">
      <div class="col-6 full-width-sm d-flex justify-content-center">
        <div class="form-group form-floating col-md-10">
          <input type="number" name='SemV' class="form-control" id="inputVSem" placeholder="V Sem" min="4" max="10" step="0.01" {% if cgpa.semV %} value={{cgpa.semV}} {% endif %}>
          <label for="inputVSem">V Semester</label>
        </div>
      </div>

      <div class="col-6 full-width-sm d-flex justify-content-center">
        <div class="form-group form-floating col-md-10">
          <input type="number" name='SemVI' class="form-control" id="inputVISem" placeholder="VI Sem" min="4" max="10" step="0.01" {% if cgpa.semVI %} value={{cgpa.semVI}} {% endif %}>
          <label for="inputVISem">VI Semester</label>
        </div>
      </div>
    </div>

    <!-- Forth Row  -->
    <div class="row mt-3">
      <div class="col-6 full-width-sm d-flex justify-content-center">
        <div class="form-group form-floating col-md-10">
          <input type="number" name='SemVII' class="form-control" id="inputVIISem" placeholder="VII Sem" min="4" max="10" step="0.01" {% if cgpa.semVII %} value={{cgpa.semVII}} {% endif %}>
          <label for="inputVIISem">VII Semester</label>
        </div>
      </div>

      <div class="col-6 full-width-sm d-flex justify-content-center">
        <div class="form-group form-floating col-md-10">
          <input type="number" name='SemVIII' class="form-control" id="inputVIIISem" placeholder="VIII Sem" min="4" max="10" step="0.01" {% if cgpa.semVIII %} value={{cgpa.semVIII}} {% endif %}>
          <label for="inputVIIISem">VIII Semester</label>
        </div>
      </div>
    </div>

    <!-- buttons -->
    <div class="d-flex align-items-center justify-content-center m-3">

      <button type="submit" class="btn btn-sm update-btn ms-auto">
        Add
      </button>

      <button type="button" class="btn btn-sm cancel-btn" onclick="window.history.go(-1); return false;" style="margin-left: 10px;">
        Cancel
      </button>

    </div>
  </form>

</div>
{% endblock %}
