{% extends "faculty.html" %}
{% load widget_tweaks %}
{% load static %}


{% block dashboardButton %}
<button class="nav-link active nav-pills-link" id="dashboard-tab" onClick="{% url 'faculty' user.usr_id %}" data-bs-toggle="pill" data-bs-target="#dashboard" type="button" role="tab" aria-controls="dashboard" aria-selected="true">
  <span class="iconify" data-icon="ci:dashboard" data-width="20" data-height="20"></span>
  Dashboard
</button>
{% endblock %}


{% block dashboardContent%}
<div class="tab-pane fade show active" id="dashboard" role="tabpanel" aria-labelledby="v-pills-home-tab">

    <h1 class="event_title"></h1>
    <div class="event">
        {% for item in booking_event %}
        <ul class="event__list">
            <li>Event title:{{ item.0 }}</li>
            <li>Start_date_time:{{ item.1 }}</li>
            <li>End_date_time:{{ item.2 }}</li>
        </ul>
        {% endfor %}
    </div>
    <div class="picker">
        <form id="picker__confirm" class="picker__confirm" autocomplete="off" action="{% url 'Schedule' %}" method="POST">
           {% csrf_token %}
            <div class="picker__component">
                <p class="picker__label">Event name</p>
                {% render_field  form.eventTitle class+="picker__field" %}
            </div>
            <div class="picker__component">
                <p class="picker__label">Start Time</p>
                {% render_field  form.startDateTime class+="picker__field" %}
            </div>
            <div class="picker__component">
                <p class="picker__label">End Time</p>
                {% render_field  form.endDateTime class+="picker__field" %}
           </div>
            <input type="submit" value="Submit" class="picker__button">
        </form>
    </div>
    <div class="display_message">
      {% if messages %}
          <ul class="messages">
              {% for message in messages %}
              <li  {% if message.tags %} class=" {{ message.tags }} " {% endif %}> {{ message }} </li>
              {% endfor %}
          </ul>
      {% endif %}
      </div>

</div>
{% endblock %}
