/* navbar */
.admin-greeting {
  font-size: 1.3rem;
  color: var(--text-component);
  /*text-shadow: 0 0 2px rgb(0, 0, 0);*/
}

/* nav-tab */
.nav-link {
  color: var(--navbar-bg);
  /*text-shadow: 0 0 2px white;*/
  text-decoration: none;
  transition: color 0.3s ease;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  color: var(--body-bg);
  background-color: var(--navbar-bg);
  border-color: var(--navbar-bg) var(--navbar-bg) var(--text-body);
  /*text-shadow: 0 0 2px black;*/
}
.nav-tabs .nav-link {
  border-bottom: 3px solid transparent;
}

/* main window */
.sidebar-heading {
  height: 5.5vh;
  background-color: #112D4E;
  color: white;
  border-radius: 13px 13px 0 0;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.5);
}
.sidebar {
  background-color: var(--content-bg);
  border-radius: 13px;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.5);
  margin: 10px 0;
  margin-top: 5.5vh;
  padding-bottom: 1px;
}

/* table */
.table-div{
  overflow-x: auto;
}
