/* pagination */
.left{
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
    border-bottom-right-radius: 0;
  }
  .middle {
    border-radius: 0;
    margin-left: -1px;
  }
  .right{
    margin-bottom: 10px;
    margin-left: -1px;
    border-top-left-radius: 0;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 8px;
  }
  