@import url('global.css');
/* Dashboard Buttons-1 */
.dashboard-buttons-1 {
  margin-top: 4vh;
}
.batch-dropdown {
  position: relative;
  align-items: center;
  width: auto;
  /*box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.5);*/
}
.dropdown-ul {
  width: auto;
}
.meetings-btn {
  width: auto;
  /*box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.5);*/
}

/* Meetings Modal */
.modal-body {
  padding: 0;
}
.nav-link {
  color: var(--navbar-bg);
}
.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  color: var(--body-bg);
  background-color: var(--navbar-bg);
  border-color: var(--navbar-bg) var(--navbar-bg) var(--text-body);
}
.nav-tabs .nav-link {
  border-bottom: 3px solid transparent;
}

/* table */
.table-div {
  overflow-x: auto;
}

/* sidebar */
.sidebar {
  background-color: var(--content-bg);
  border-radius: 13px;
  /*box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.5);*/
  margin: 10px 0;
  margin-top: 5.5vh;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link{
  background-color: var(--navbar-bg);
  color: var(--text-component);
}
.nav-pills-link {
  color: var(--navbar-bg);
}
.dashboard-navigation {
  padding-right: 0;
}

/* select button */
/*.select-btn{
  width: auto;
  border-radius: 7px;
  background-color: #018383;
  color: var(--text-component);
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.5);
}*/  
/* .cancel-btn{
  width: auto;
  margin-left: 10px;
  border-radius: 7px;
  background-color: #8C0000;
  color: white;
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.5);
}   */

/* student profile grid */
#grd {
  max-width: 700px;
  margin: 0 auto;
  padding: 0;
  font-size: 0;
  list-style: none;
  background-color: transparent;
}
#grd .grid-li {
  display: inline-block;
  width: 25%;
  vertical-align: middle;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
#grd .grid-li:hover .grd-img {
  transform: scale(1.05);
}
#grd li:hover .grd-overlay {
  opacity: 0.8;
}
#grd .grid-li:hover .grd-text {
  transform: translateY(0px);
  opacity: 0.9;
}
.grd-cell {
  display: block;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}
.grd-img {
  display: block;
  width: 100%;
  height: auto;
  border: none;
  border-radius: 10px;
  transform: scale(0.8);
  transition: all 2s;
  /*box-shadow: 0 0 5px 1.5px rgba(0, 0, 0, 0.5);*/
}
.grd-overlay {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: 4px;
  border-radius: 10px;
  /*background: #2b2d2d url("img/link.png") no-repeat center 20%;*/
  background-size: 50px 50px;
  opacity: 0;
  filter: alpha 0;
  transition: all 1s;
}
.grd-text {
  display: block;
  padding: 0 30px;
  box-sizing: border-box;
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center;
  text-transform: capitalize;
  font-size: 18px;
  font-weight: bold;
  font-weight: normal !important;
  top: 40%;
  color: var(--text-component);
  opacity: 0;
  filter: alpha 0;
  transform: translateY(-20px);
  transition: all 2.8s;
}
.shrink {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-transition-duration: 3s;
  transition-duration: 3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.shrink:hover,
.shrink:focus,
.shrink:active {
  /* -webkit-transform: scale(0.9); 
  transform: scale(0.9); */
}

/* select-checkbox */
.cb-choose{
  position: absolute;
  right: 25px;
  top: 30px;
}

/* Media query */
/* Student grid */
@media (max-width: 9000px) {
  #grd .grid-li {
    width: 25%;
  }
  /* #grd {
    margin: 60px auto;
  } */
}
@media (max-width: 700px) {
  #grd .grid-li {
    width: 33.33%;
  }
}
@media (max-width: 550px) {
  #grd .grid-li {
    width: 50%;
  }
}