/* sidebar */
.sidebar {
  background-color: var(--content-bg);
  border-radius: 13px;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  margin-top: 5.5vh;
}
.dashboard-navigation {
  padding-right: 0;
}

/* Meetings Modal */
.modal-body {
  padding: 0;
}
.modal-content {
  background-color: var(--content-bg);
}

/* Nav Pill */
.nav-pills .nav-link.active, .nav-pills .show>.nav-link{
  background-color: var(--btn-bg);
  color: var(--text-component);
}
.nav-pills-link {
  color: var(--btn-bg);
}

/* Nav-Tab */
.nav-link {
  color: var(--navbar-bg);
}
.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  color: var(--body-bg);
  background-color: var(--btn-bg);
  border-color: var(--navbar-bg) var(--navbar-bg) var(--text-body);
}
.nav-tabs .nav-link {
  border-bottom: 3px solid transparent;
}

/* table */
.table-div {
  overflow-x: auto;
}

/* student profile grid */
#grd {
  max-width: 700px;
  margin: 0 auto;
  padding: 0;
  font-size: 0;
  list-style: none;
  background-color: transparent;
}
#grd .grid-li {
  display: inline-block;
  width: 25%;
  vertical-align: middle;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
#grd .grid-li:hover .grd-img {
  transform: scale(1.05);
}
#grd li:hover .grd-overlay {
  opacity: 0.8;
}
#grd .grid-li:hover .grd-text {
  transform: translateY(0px);
  opacity: 0.9;
}
.grd-cell {
  display: block;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}
.grd-img {
  display: block;
  width: 100%;
  height: auto;
  border: none;
  border-radius: 10px;
  transform: scale(0.8);
  transition: all 200ms;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.grd-overlay {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: 4px;
  border-radius: 10px;
  /*background: #2b2d2d url("img/link.png") no-repeat center 20%;*/
  background-size: 50px 50px;
  opacity: 0;
  filter: alpha 0;
  transition: all 200ms;
}
.grd-text {
  display: block;
  padding: 0 30px;
  box-sizing: border-box;
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center;
  text-transform: capitalize;
  font-size: 18px;
  font-weight: bold;
  font-weight: normal !important;
  top: 40%;
  color: var(--text-component);
  opacity: 0;
  filter: alpha 0;
  transform: translateY(-20px);
  transition: all 200ms;
}
.shrink {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-transition-duration: 500ms;
  transition-duration: 500ms;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.shrink:hover,
.shrink:focus,
.shrink:active {
  /* -webkit-transform: scale(0.9); 
  transform: scale(0.9); */
}

/* Student Profile */
.stu-image {
  display: block;
  border: none;
  border-radius: 10px;
  max-height: 24vh !important; 
  max-width: 11vw !important; 
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px !important;
}
.scrollspy-example {
  position: relative;
  height: 250px;
  overflow: auto;
}
.accordion-item,
.accordion-button{
  background-color: var(--body-bg);
}
.accordion{
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px !important;
  border-radius: 10px !important;
}

/* Graph */
.graphs > span {
  max-width: 350px;
}

.graphs > span > canvas {
  width:500px; 
  height:250px;
}

/* Media query */
/* Student grid */
@media (max-width: 9000px) {
  #grd .grid-li {
    width: 25%;
  }
  /* #grd {
    margin: 60px auto;
  } */
}
@media (max-width: 700px) {
  #grd .grid-li {
    width: 33.33%;
  }
}
@media (max-width: 550px) {
  #grd .grid-li {
    width: 50%;
  }
}
