<div class="accordion-item">
  <h2 class="accordion-header" id="flush-headingBasic">
    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseBasic" aria-expanded="false" aria-controls="flush-collapseBasic">
      Basic Information
    </button>
  </h2>
  <div id="flush-collapseBasic" class="accordion-collapse collapse" aria-labelledby="flush-headingBasic" data-bs-parent="#accordionFlushExample">
    <div class="accordion-body">

      <div class="row">

        <!--Left Column-->
        <div class="col-lg-6 col-md-12 col-sm-12">
          <div class="row">

            <!--Name-->
            <div class="col-6">
              <p><strong>Name</strong></p>
            </div>
            <div class="col-6">
              <p>Boris Edison</p>
            </div>

            <!--Rollno-->
            <div class="col-6">
              <p><strong>Roll no</strong></p>
            </div>
            <div class="col-6">
              <p>14</p>
            </div>

            <!--Year-->
            <div class="col-6">
              <p><strong>Year</strong></p>
            </div>
            <div class="col-6">
              <p>SE</p>
            </div>

            <!--Department-->
            <div class="col-6">
              <p><strong>Department</strong></p>
            </div>
            <div class="col-6">
              <p>Computer</p>
            </div>

            <!--DOB-->
            <div class="col-6">
              <p><strong>Date of Birth</strong></p>
            </div>
            <div class="col-6">
              <p>28/09/2001</p>
            </div>

            <!--Address-->
            <div class="col-6">
              <p><strong>Address</strong></p>
            </div>
            <div class="col-6">
              <p>Bhandup</p>
            </div>

          </div>
        </div>

        <!--Right Column-->
        <div class="col-lg-6 col-md-12 col-sm-12">
          <div class="row">

            <!--Year Of Admission-->
            <div class="col-6">
              <p><strong>Year Of Admission</strong></p>
            </div>
            <div class="col-6">
              <p>-</p>
            </div>

            <!--Gender-->
            <div class="col-6">
              <p><strong>Gender</strong></p>
            </div>
            <div class="col-6">
              <p>-</p>
            </div>

            <!--Blood Group-->
            <div class="col-6">
              <p><strong>Blood Group</strong></p>
            </div>
            <div class="col-6">
              <p>-</p>
            </div>

            <!--Mother Tongue-->
            <div class="col-6">
              <p><strong>Mother Tongue</strong></p>
            </div>
            <div class="col-6">
              <p>-</p>
            </div>

            <!--Religion-->
            <div class="col-6">
              <p><strong>Religion</strong></p>
            </div>
            <div class="col-6">
              <p>-</p>
            </div>

            <!--Contact no.-->
            <div class="col-6">
              <p><strong>Contant no</strong></p>
            </div>
            <div class="col-6">
              <p>-</p>
            </div>

          </div>
        </div>

      </div>

    </div>
  </div>
</div>

<div class="accordion-item">
  <h2 class="accordion-header" id="flush-headingGuardian">
    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseGuardian" aria-expanded="false" aria-controls="flush-collapseGuardian">
      Guardian Information
    </button>
  </h2>
  <div id="flush-collapseGuardian" class="accordion-collapse collapse" aria-labelledby="flush-headingGuardian" data-bs-parent="#accordionFlushExample">
    <div class="accordion-body">

      <div class="row">

        <!--Left Column-->
        <div class="col-lg-6 col-md-12 col-sm-12">

          <p style="display: flex; justify-content: center;"><strong>Mother</strong></p>
          <div class="row">

            <!--Name-->
            <div class="col-6">
              <p><strong>Name</strong></p>
            </div>
            <div class="col-6">
              <p>-</p>
            </div>

            <!--Highest Qualification-->
            <div class="col-6">
              <p><strong>Highest Qualification</strong></p>
            </div>
            <div class="col-6">
              <p>-</p>
            </div>

            <!--Yearly Income-->
            <div class="col-6">
              <p><strong>Yearly Income</strong></p>
            </div>
            <div class="col-6">
              <p>-</p>
            </div>

          </div>
        </div>

        <!--Right Column-->
        <div class="col-lg-6 col-md-12 col-sm-12">

          <p style="display: flex; justify-content: center;"><strong>Father</strong></p>

          <div class="row">

            <!--Name-->
            <div class="col-6">
              <p><strong>Name</strong></p>
            </div>
            <div class="col-6">
              <p>-</p>
            </div>

            <!--Highest Qualification-->
            <div class="col-6">
              <p><strong>Highest Qualification</strong></p>
            </div>
            <div class="col-6">
              <p>-</p>
            </div>

            <!--Yearly Income-->
            <div class="col-6">
              <p><strong>Yearly Income</strong></p>
            </div>
            <div class="col-6">
              <p>-</p>
            </div>

          </div>
        </div>

      </div>

    </div>
  </div>
</div>

<div class="accordion-item">
  <h2 class="accordion-header" id="flush-headingHealth">
    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseHealth" aria-expanded="false" aria-controls="flush-collapseHealth">
      Health Information
    </button>
  </h2>
  <div id="flush-collapseHealth" class="accordion-collapse collapse" aria-labelledby="flush-headingHealth" data-bs-parent="#accordionFlushExample">
    <div class="accordion-body">

      <div class="row">

        <!--Left Column-->
        <div class="col-lg-6 col-md-12 col-sm-12">

          <div class="row">

            <!--Addiction-->
            <div class="col-6">
              <p><strong>Addiction</strong></p>
            </div>
            <div class="col-6">
              <p>-</p>
            </div>

            <!--Illness-->
            <div class="col-6">
              <p><strong>Illness</strong></p>
            </div>
            <div class="col-6">
              <p>-</p>
            </div>

            <!--Phobia-->
            <div class="col-6">
              <p><strong>Phobia</strong></p>
            </div>
            <div class="col-6">
              <p>-</p>
            </div>

            <!--Treatment-->
            <div class="col-6">
              <p><strong>Treatment</strong></p>
            </div>
            <div class="col-6">
              <p>-</p>
            </div>

          </div>
        </div>

        <!--Right Column-->
        <div class="col-lg-6 col-md-12 col-sm-12">

          <div class="row">

          </div>

        </div>

      </div>

    </div>
  </div>
</div>

<div class="accordion-item">
  <h2 class="accordion-header" id="flush-headingGoal">
    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseGoal" aria-expanded="false" aria-controls="flush-collapseGoal">
      Goals, Hobbies and Extra Curriculars
    </button>
  </h2>
  <div id="flush-collapseGoal" class="accordion-collapse collapse" aria-labelledby="flush-headingGoal" data-bs-parent="#accordionFlushExample">
    <div class="accordion-body">

      <div class="row">

        <!--Left Column-->
        <div class="col-lg-6 col-md-12 col-sm-12">

          <div class="row">

            <!--Aim For Life-->
            <div class="col-6">
              <p><strong>Aim For Life</strong></p>
            </div>
            <div class="col-6">
              <p>-</p>
            </div>

            <!--Reason For Joining Engineering-->
            <div class="col-6">
              <p><strong>Reason For joining Engineering</strong></p>
            </div>
            <div class="col-6">
              <p>-</p>
            </div>

            <!--Hobbies-->
            <div class="col-6">
              <p><strong>Hobbies</strong></p>
            </div>
            <div class="col-6">
              <p>-</p>
            </div>

            <!--Achievements-->
            <div class="col-6">
              <p><strong>Achievements</strong></p>
            </div>
            <div class="col-6">
              <p>-</p>
            </div>

          </div>
        </div>

        <!--Right Column-->
        <div class="col-lg-6 col-md-12 col-sm-12">

          <div class="row">

            <!--Club-->
            <div class="col-6">
              <p><strong>Club</strong></p>
            </div>

            <div class="col-6">

              <ul>
                <li>
                  <p>Math Club</p>
                </li>

                <li>
                  <p>Dance Club</p>
                </li>

                <li>
                  <p>Physics Club</p>
                </li>
              </ul>

            </div>

            <!--Organization-->
            <div class="col-6">
              <p><strong>Organization</strong></p>
            </div>
            <div class="col-6">
              <ul>
                <li>
                  <p>ACM</p>
                </li>

                <li>
                  <p>DBIT SevaTech</p>
                </li>

              </ul>
            </div>

          </div>

        </div>

      </div>

    </div>
  </div>
</div>
