{% extends "admin.html" %}
{% load static %}

{% block meetingTabButton %}
<button class="nav-link active" id="nav-meeting-tab" data-bs-toggle="tab" data-bs-target="#nav-meeting" type="button" role="tab" aria-controls="nav-meeting-tab" aria-selected="true">
  Meeting
</button>
{% endblock %}

{% block meetingTabContent %}
<div class="tab-pane fade active show" id="nav-meeting" role="tabpanel" aria-labelledby="nav-meeting-tab">


  <div class="container-fluid mb-5">
    <div class="sidebar flex-shrink-0 dashboard-navigation">
      <div class="sidebar-heading d-flex align-items-center justify-content-center">
        <h5>Meeting</h5>
      </div>

      <!-- nav-tab -->
      <div class="mt-3 container-fluid">
        <nav class="">
          <div class="nav nav-tabs d-flex align-items-center justify-content-center" id="nav-tab" role="tablist">

            {% block previousTabButton %}
            <button class="nav-link" id="nav-previous-tab" onclick="window.location.href = '{% url 'admin-previous-meeting' %}';" data-bs-toggle="tab" data-bs-target="#nav-previous" type="button" role="tab" aria-controls="nav-previous-tab"
              aria-selected="false">
              Previous
            </button>
            {% endblock %}

            {% block upcomingTabButton %}
            <button class="nav-link" id="upcoming-tab" onClick="window.location.href='{% url 'admin-upcoming-meeting' %}'" data-bs-toggle="tab" data-bs-target="#nav-upcoming" type="button" role="tab" aria-controls="nav-upcoming-tab"
              aria-selected="false">
              Upcoming
            </button>
            {% endblock %}

          </div>
        </nav>
        <div class="tab-content mt-3" id="nav-tabContent">

          <!-- Previous -->
          {% block previousTabContent %}

          {% endblock %}

          <!-- Upcoming -->
          {% block upcomingTabContent %}

          {% endblock %}

        </div>
      </div>

    </div>
  </div>
</div>

{% endblock %}
