{% load static %}
<div class="modal fade" id="assign-mentors" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Yay Mentos!!!</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group row">
                        <label for="addMentee" class="col-sm-2 col-form-label">Search</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="addMentee" placeholder="Search">
                        </div>
                    </div>
                    <table class="table">
                        <thead>
                            <tr>

                                <th scope="col">Name</th>
                                <th scope="col">Roll no</th>
                                <th scope="col">Email</th>
                                <th scope="col">Semester</th>
                                <th scope="col">Department</th>
                                <th scope="col">Status</th>

                            </tr>
                        </thead>
                        <tbody id="myTable">

                            {% for users in user %}
                            <tr>

                                <th scope="row">{{users.first_name}}</th>
                                <td>XX</td>
                                <td>{{users.email}}</td>
                                <td>Y</td>
                                <td>Z</td>
                                <td>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                                    </div>
                                </td>


                            </tr>

                            {% endfor %}

                        </tbody>
                    </table>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-sm">Save changes</button>
                <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>