{% load static %}
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Edit Profile</title>

  <!-- Bootstrap -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

  <!-- Bootstrap Icons -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css">

  <!-- Local Stylesheet -->
  <link rel="stylesheet" href="{% static 'css/edit.css' %}">
  <link rel="stylesheet" href="{% static 'css/navbar.css' %}">

</head>

<body>

  <nav class="navbar navbar-main sticky-top navbar-expand-lg">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="{% static 'content/logo.png' %}" class=" me-2" width="50" height="50" alt="">
        DBIT
      </a>

      <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-content">
        <div class="hamburger-toggle">
          <div class="hamburger">
            <span></span>
            <span></span>
            <span></span>
          </div>
        </div>
      </button>

      <div class="collapse navbar-collapse" id="navbar-content">
        <div class="ms-auto">
          <a class="navbar-brand" href="#">
            <img src="{% static 'content/logo.png' %}" class=" me-2" width="50" height="50" alt="">
            {% if user.is_authenticated %}
            {{user.first_name}}
            {% endif %}
          </a>
        </div>

        <ul class="navbar-nav mr-auto mb-2 mb-lg-0">
          <span class="d-inline-block" tabindex="0" data-bs-toggle="tooltip" data-bs-placement="right" title="Edit Profile">
            <li class="nav-item-main">
              <a class="nav-link active" id="iconifyEditProfile" aria-current="page" href="#">
                <span class="iconify iconify-navbar" data-icon="akar-icons:edit" data-width="26" data-height="26"></span>
              </a>
            </li>
          </span>

          <span class="d-inline-block" tabindex="0" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Notification">
            <li class="nav-item-main">
              <a class="nav-link" href="#" id="iconifyNotification">
                <span class="iconify iconify-navbar" data-icon="clarity:notification-solid" data-width="24" data-height="26"></span>
              </a>
            </li>
          </span>

          <span class="d-inline-block" tabindex="0" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Message">
            <li class="nav-item-main">
              <a class="nav-link" id="iconifyMessage" href="#">
                <span class="iconify iconify-navbar" data-icon="bx:message-detail" data-width="24" data-height="26"></span>
              </a>
            </li>
          </span>

          <span class="d-inline-block" tabindex="0" data-bs-toggle="tooltip" data-bs-placement="left" title="Log Out">
            <li class="nav-item-main">
              <a class="nav-link" id="iconifyLogOut" href="#">
                <span class="iconify iconify-navbar" data-icon="ic:outline-log-in" data-width="25" data-height="25"></span>
              </a>
            </li>
          </span>

        </ul>
      </div>
    </div>
  </nav>

  <form action="{% url 'Edit' %}" method="POST">
    <!-- window -->
    <div class="container-fluid mb-5">
      <div class="sidebar flex-shrink-0 dashboard-navigation">

        <!-- window-heading -->
        <div class="window-heading d-flex align-items-center justify-content-center">
          <h5>Edit Profile</h5>
        </div>

        <div class="container mt-5 mb-3">
          <div class="row">

            <!-- left-column -->
            <div class="col-lg-6 col-md-6 col-sm-12">
              <!-- <form action="EditPage/" method="POST"> -->
              {% csrf_token %}
              <div class="form-group col-md-10">
                <label for="inputFname">First Name</label>
                <input type="text" name='fName' class="form-control" id="inputFname" placeholder="First Name" value='{{user.first_name}}'>
              </div>
              <div class="form-group col-md-10">
                <label for="inputMname">Username</label>
                <input type="text" class="form-control" name="username" id="inputMname" placeholder="Username" value='{{user.username}}'>
              </div>
              <div class="form-group col-md-10">
                <label for="inputLname">Last Name</label>
                <input type="text" class="form-control" name="lName" id="inputLname" placeholder="Last Name">
              </div>
              <div class="form-group col-md-10">
                <label for="inputEmail">Email</label>
                <input type="email" class="form-control" name="email1" id="inputEmail" placeholder="Email">
              </div>
              <div class="form-group col-md-10">
                <label for="inputEmailConf">Re-enter Email</label>
                <input type="email" class="form-control" name="email2" id="inputEmailConf" placeholder="Re-enter Email">
              </div>
              <div class="form-group col-md-10">
                <label for="inputPassword">Password</label>
                <input type="password" class="form-control" name="pass1" id="inputPassword" placeholder="Password">
              </div>
              <div class="form-group col-md-10">
                <label for="inputPasswordConf">Confirm Password</label>
                <input type="password" class="form-control" name="pass2" id="inputPasswordConf" placeholder="Confirm Password">
              </div>
            </div>

            <!-- right-column -->
            <div class="col-lg-6 col-md-6 col-sm-12">
              <div class="form-group col-md-10">
                <label for="inputCountry">Country</label>
                <input type="text" class="form-control" id="inputCountry" placeholder="Country">
              </div>
              <div class="form-group col-md-10">
                <label for="inputState">State</label>
                <input type="text" class="form-control" id="inputState" placeholder="State">
              </div>
              <div class="form-group col-md-10">
                <label for="inputCity">City</label>
                <input type="text" class="form-control" id="inputCity" placeholder="City">
              </div>
              <div class="form-group col-md-10">
                <label for="inputTime">Timezone</label>
                <select id="inputTime" class="form-control">
                  <option selected>Choose...</option>
                  <option>...</option>
                </select>
              </div>
              <div class="form-group col-md-10">
                <label for="inputEmail4">Add Photo</label>
                <div class="custom-file">
                  <input type="file" class="custom-file-inpuxt" id="customFile">
                  <label class="custom-file-label" for="customFile">Choose file</label>
                </div>
              </div>
            </div>

          </div>
        </div>
        <!-- buttons -->
        <div class="d-flex align-items-center justify-content-center m-3">

          <button type="submit" class="btn btn-sm update-btn ms-auto">
              UPDATE PROFILE
          </button>

          <button type="button" class="btn btn-sm cancel-btn" onClick="javascript:history.go(-1);">
            CANCEL
            {% comment %} <a href="{% url django.contrib.auth.views.login %}?next={{request.path}}">CANCEL</a> {% endcomment %}
          </button>

        </div>
      </div>
    </div>
  </form>
  
  <!-- Bootstrap -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous">
  </script>

  <!-- iconify -->
  <script src="https://code.iconify.design/2/2.1.2/iconify.min.js"></script>

  <!-- jQuery -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer">
  </script>

  <!-- Local -->
  <script src="{% static 'js/edit.js' %}"></script>
  <script src="{% static 'js/navbar.js' %}"></script>

</body>

</html>
