{% load static %}

<div class="row">
  <div class="col-sm-3" id="spy">
    <ul class="nav nav-pills flex-column m-3">
      <li class="nav-item"><a class="nav-link active" name="edit-link" href="#basic">Basic
          Information</a>
      </li>
      <li class="nav-item"><a class="nav-link" name="edit-link" href="#guardian">Guardian
          Information</a>
      </li>
      <li class="nav-item"><a class="nav-link" name="edit-link" href="#health">Health
          Information</a></li>
      <li class="nav-item"><a class="nav-link" name="edit-link" href="#goal">Goals, Hobbies
          and Extra
          Curriculars</a></li>
      <li class="nav-item"><a class="nav-link" name="edit-link" href="#marks">Marks</a></li>

    </ul>
  </div>
  <div class="col-sm-9 scrollspy-example" style="height:65vh" data-spy="scroll" data-target="#spy">

    <div id="basic" name="edit-body">

      <p class="mt-3" style="font-size: 20px;"><strong>Basic Information</strong></p>

      <!-- First Row  -->
      <div class="row pt-2">
        <div class="col-6">
          <div class="form-group col-md-10">
            <label for="inputFname">First Name</label>
            <input type="text" name='fName' class="form-control" id="inputFname" placeholder="First Name" value='{{user.first_name}}'>
          </div>
        </div>

        <div class="col-6">
          <div class="form-group col-md-10">
            <label for="inputMname">Middle Name</label>
            <input type="text" name='mName' class="form-control" id="inputMname" placeholder="Middle Name" value=''>
          </div>
        </div>
      </div>

      <!-- Second Row  -->
      <div class="row pt-2">
        <div class="col-6">
          <div class="form-group col-md-10">
            <label for="inputLname">Last Name</label>
            <input type="text" name='lName' class="form-control" id="inputLname" placeholder="Last Name" value=''>
          </div>
        </div>

        <div class="col-6">
          <div class="form-group col-md-10">
            <label for="inputRno">Roll No</label>
            <input type="number" name='rNo' id="inputRno" class="form-control" placeholder="Roll No" min="1" max="70" value=''>
          </div>
        </div>
      </div>

      <!-- Third Row  -->
      <div class="row pt-2">
        <div class="col-6">
          <div class="form-group col-md-10">
            <label for="inputStudentId">Student Id</label>
            <input type="number" name='sId' id="inputStudentId" class="form-control" placeholder="Student Id" value=''>
          </div>
        </div>

        <div class="col-6">
          <div class="form-group col-md-10">
            <label for="inputDob">Date Of Birth</label>
            <input type="date" name='dob' id="inputDob" class="form-control" placeholder="Date Of Birth" value=''>
            </select>
          </div>
        </div>
      </div>

      <!-- Forth Row  -->
      <div class="row pt-2">
        <div class="col-6">
          <div class="form-group col-md-10">
            <label for="inputYear">Year</label> <br>
            <select id="inputYear" style="height: 36px; width: 70px" name="year">
              <option value="----">----</option>
              <option value="FE">FE</option>
              <option value="SE">SE</option>
              <option value="TE">TE</option>
              <option value="BE">BE</option>
            </select>
          </div>
        </div>

        <div class="col-6">
          <div class="form-group col-md-10">
            <label for="inputDept">Department</label> <br>
            <select id="inputDept" style="height: 36px;" name="dept">
              <option value="--------------">--------------</option>
              <option value="Computer">Computer</option>
              <option value="IT">IT</option>
              <option value="EXTC">EXTC</option>
              <option value="Mechanical">Mechanical</option>
            </select>
          </div>
        </div>
      </div>

      <!-- Fifth Row  -->
      <div class="row pt-2">
        <div class="col-6">
          <div class="form-group col-md-10">
            <label for="inputAddress">Address</label>
            <input type="text" name='Address' class="form-control" id="inputAddress" placeholder="Address" value=''>
            </select>
          </div>
        </div>

        <div class="col-6">
          <div class="form-group col-md-10">
            <label for="inputEmail4">Profile Picture</label>
            <div class="custom-file">
              <input type="file" class="custom-file-input" name='profile_img' accept="image/png,image/gif, image/jpeg" id="imgsize" value='{{user.profile_img}}'>
              {% if user.profile_img != 'logo.png' %}
              <a href='{{user.profile_img.url}}'>{{user.profile_img |make_list|slice:'7:'|join:''}}</a>
              {% endif %}
            </div>
          </div>
        </div>
      </div>

      <!-- Sixth Row  -->
      <div class="row pt-2">
        <div class="col-6">
          <div class="form-group col-md-10">
            <label for="inputYoa">Year of Admission</label>
            <input type="month" name='Yoa' id="inputYoa" class="form-control" placeholder="Year of Admission" value=''>
            </select>
          </div>
        </div>

        <div class="col-6">
          <div class="form-group col-md-10">
            <label for="inputGender">Gender</label> <br>
            <select id="inputGender" style="height: 36px;" name="gender">
              <option value="-----">-----</option>
              <option value="Male">Male</option>
              <option value="Female">Female</option>
            </select>
          </div>
        </div>
      </div>

      <!-- Seventh Row  -->
      <div class="row pt-2">
        <div class="col-6">
          <div class="form-group col-md-10">
            <label for="inputBGroup">Blood Group</label> <br>
            <select id="inputBGroup" style="height: 36px;" name="bGroup">
              <option value="-----">-----</option>
              <option value="A+">A+</option>
              <option value="B+">B+</option>
              <option value="O+">O+</option>
              <option value="AB+">AB+</option>
              <option value="A-">A-</option>
              <option value="B-">B-</option>
              <option value="O-">O-</option>
              <option value="AB-">AB-</option>
            </select>
          </div>
        </div>

        <div class="col-6">
          <div class="form-group col-md-10">
            <label for="inputMtoungue">Mother Tongue</label>
            <input type="text" name='mTongue' class="form-control" id="inputMtongue" placeholder="Mother Tongue" value=''>
          </div>
        </div>
      </div>

      <!-- Eighth Row  -->
      <div class="row pt-2">
        <div class="col-6">
          <div class="form-group col-md-10">
            <label for="inputReligion">Religion</label>
            <input type="text" name='Religion' class="form-control" id="inputReligion" placeholder="Religion" value=''>
          </div>
        </div>

        <div class="col-6">
          <div class="form-group col-md-10">
            <label for="inputContactNo">Contact No.</label>
            <input type="tel" name="phone" class="form-control" id="inputContactNo" placeholder="Contact No." pattern="[0-9]{10}">
          </div>
        </div>

      </div>

    </div>

    <div id="guardian" name="edit-body">
      <p style="font-size: 20px; padding-top: 2rem;"><strong>Guardian Information</strong>
      </p>
      <!-- Father Details -->
      <p style="font-size: 16px;" class="pt-2"><strong>Father</strong>
      </p>
      <div class="row pt-2">
        <div class="col-12">
          <div class="form-group col-md-10">
            <label for="inputname">Full Name</label>
            <input type="text" name='name' class="form-control" id="inputname" placeholder="Father's Name" value=''>
          </div>
        </div>
      </div>

      <div class="row pt-2">
        <div class="col-6">
          <div class="form-group col-md-10">
            <label for="inputQualfication">Highest Qualification</label> <br>
            <select id="inputQualification" style="height: 36px;" name="qualification">
              <option value="-">--</option>
              <option value="A">A</option>
              <option value="B">B</option>
              <option value="C">C</option>
              <option value="D">D</option>
            </select>
          </div>
        </div>

        <div class="col-6">
          <div class="form-group col-md-10">
            <label for="inputIncome">Yearly Income</label> <br>
            <select id="inputIncome" style="height: 36px;" name="income">
              <option value="-">--</option>
              <option value="A">A</option>
              <option value="B">B</option>
              <option value="C">C</option>
              <option value="D">D</option>
            </select>
          </div>
        </div>
      </div>
      <!-- Mother Details -->
      <p style="font-size: 16px;" class="pt-4"><strong>Mother</strong>
      </p>

      <div class="row pt-2">
        <div class="col-12">
          <div class="form-group col-md-10">
            <label for="inputname">Full Name</label>
            <input type="text" name='name' class="form-control" id="inputname" placeholder="Mother's Name" value=''>
          </div>
        </div>
      </div>

      <div class="row pt-2">
        <div class="col-6">
          <div class="form-group col-md-10">
            <label for="inputQualification">Highest Qualification</label> <br>
            <select id="inputQualification" style="height: 36px;" name="qualification">
              <option value="-">--</option>
              <option value="A">A</option>
              <option value="B">B</option>
              <option value="C">C</option>
              <option value="D">D</option>
            </select>
          </div>
        </div>

        <div class="col-6">
          <div class="form-group col-md-10">
            <label for="inputIncome">Yearly Income</label> <br>
            <select id="inputIncome" style="height: 36px;" name="income">
              <option value="-">--</option>
              <option value="A">A</option>
              <option value="B">B</option>
              <option value="C">C</option>
              <option value="D">D</option>
            </select>
          </div>
        </div>
      </div>
    </div>

    <div id="health" name="edit-body">
      <p style="font-size: 20px; padding-top: 2rem;"><strong>Health Information</strong></p>
      <div class="row pt-2">
        <div class="col-12">
          <div class="form-group col-md-10">
            <label for="inputAddiction">Addiction</label>
            <input type="text" name='name' class="form-control" id="inputAddiction" placeholder="Comma separated" value=''>
          </div>
        </div>
      </div>
      <div class="row pt-2">
        <div class="col-12">
          <div class="form-group col-md-10">
            <label for="inputIllness">Illness</label>
            <input type="text" name='name' class="form-control" id="inputIllness" placeholder="Comma separated" value=''>
          </div>
        </div>
      </div>
      <div class="row pt-2">
        <div class="col-12">
          <div class="form-group col-md-10">
            <label for="inputPhobias">Phobia</label>
            <input type="text" name='name' class="form-control" id="inputPhobias" placeholder="Comma separated" value=''>
          </div>
        </div>
      </div>
      <div class="row pt-2">
        <div class="col-12">
          <div class="form-group col-md-10">
            <label for="inputTreatments">Treatments</label>
            <input type="text" name='name' class="form-control" id="inputTreatments" placeholder="Comma separated" value=''>
          </div>
        </div>
      </div>
    </div>

    <div id="goal" name="edit-body">
      <p style="font-size: 20px; padding-top: 2rem;"><strong>Goals, Hobbies and Extra
          Curriculars</strong></p>
      <div class="row pt-2">
        <div class="col-12">
          <div class="form-group col-md-10">
            <label for="inputAim">Aim</label>
            <input type="text" name='name' class="form-control" id="inputAim" placeholder="Your Aim" value=''>
          </div>
        </div>
      </div>
      <div class="row pt-2">
        <div class="col-12">
          <div class="form-group col-md-10">
            <label for="inputHobbies">Hobbies</label>
            <input type="text" name='name' class="form-control" id="inputHobbies" placeholder="Comma separated" value=''>
          </div>
        </div>
      </div>
      <div class="row pt-2">
        <div class="col-12">
          <div class="form-group col-md-10">
            <label for="inputReason">Reason for joining Engineering</label>
            <input type="text" name='name' class="form-control" id="inputReason" placeholder="Enter Reason" value='none'>
          </div>
        </div>
      </div>
      <div class="row pt-2">
        <div class="col-12">
          <div class="form-group col-md-10">
            <label for="inputAchievements">Achievements</label>
            <input type="text" name='name' class="form-control" id="inputAchievements" placeholder="Comma separated" value=''>
          </div>
        </div>
      </div>
      <div class="row pt-2">
        <div class="col-12">
          <div class="form-group col-md-10">
            <label for="inputClubs">Clubs</label>
            <input type="text" name='name' class="form-control" id="inputClubs" placeholder="Comma separated" value=''>
          </div>
        </div>
      </div>
    </div>

    <div class="mb-3" id="marks" name="edit-body">
      <p style="font-size: 20px; padding-top: 2rem;"><strong>Marks</strong></p>
      <span></span>
      <button type="button" id="add-marks-btn" class="btn btn-sm ms-auto select-btn" style="width: auto; border-radius: 7px; background-color: #112D4E; color: white; box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.5);">
        Add Semester Details
      </button>
    </div>

  </div>
</div>
