{% extends "student.html" %}
{% load static %}

{% block meetingButton %}
<button class="nav-link active nav-pills-link text-left d-flex align-items-center" id="meeting-tab" onClick="window.location.reload();" data-bs-toggle="pill" data-bs-target="#meeting" type="button" role="tab" aria-controls="meeting" aria-selected="false">
  <span class="iconify-inline" data-icon="akar-icons:schedule" data-width="21" data-height="21"></span>
  &nbsp;Meeting
</button>
{% endblock %}

{% block meetingContent %}
<div class="tab-pane fade show active" id="meeting" role="tabpanel" aria-labelledby="meeting">
  <div class="tab-pane fade show active m-5 mt-0 mb-0 text" id="meeting" role="tabpanel" aria-labelledby="meeting">

    <div class="d-flex align-items-center justify-content-center mt-3 mb-3">
      <h1 style="font-size: 25px; justify-content: center;">
        <strong>Meeting</strong>
      </h1>
    </div>
    {% if meetings %}
    {% for meeting in meetings %}
    {% if meeting.Receiver.user == request.user %}
    <div class="card  mb-4">
      <div class="card-header">
        <img class="rounded-circle image3" src="{{ meeting.Sender.user.profile_img.url }}" height="48" width="48">
        {{ meeting.Sender.user.first_name }} {{ meeting.Sender.user.last_name }}
      </div>
      <div class="card-body">
        <a href="">
          <h3 class="card-title text-muted">{{ meeting.Meeting_title }}</h3>
        </a>
        <p class="card-text">
          Meeting Date: {{ meeting.Meeting_date }}<br>
          Meeting Time: {{ meeting.Meeting_time }}<br>
          {{ meeting.Meeting_description }}<br><br>

          Meeting Link: {{meeting.Meeting_link_or_venue}}</a>
        </p>
      </div>
      <div class="card-footer">
        {{ meeting.created_at|date:"D d M Y" }} {{ meeting.created_at|time}}
      </div>
    </div>
    {% endif %}
    {% endfor %}
    {% endif %}
    <!--Pagination buttons-->
    <div class="d-flex align-items-center justify-content-center mb-0">

      {% if is_paginated  %}

      {% if page_obj.has_prevoius %}
      <a class="btn btn-sm btn-outline-secondary mb-4 left" href="?page=1">First </a>
      <a class="btn btn-sm btn-outline-secondary mb-4 middle" href="?page={{page_obj.previous_page_number}}">Previous </a>
      {% endif %}

      {% for num in page_obj.paginator.page_range %}
      {% if page_obj.number == num %}
      <a class="btn btn-sm btn-outline-secondary mb-4 middle" href="?page={{num}}">{{num}} </a>

      {% elif num > page_obj.number|add:'-3'  and num < page_obj.number|add:'3' %}
      <a class="btn btn-sm btn-outline-secondary mb-4 middle" href="?page={{num}}">{{num}} </a>

      {% endif %}
      {% endfor %}

      {% if page_obj.has_prevoius %}
      <a class="btn btn-sm btn-outline-secondary mb-4 middle" href="?page={{page_obj.next_page_number}}">Next </a>
      <a class="btn btn-sm btn-outline-secondary mb-4 right" href="?page={{page_obj.paginator.num_pages}}">Last </a>
      {% endif %}

      {% endif %}

    </div>

  </div>
</div>
{% endblock %}
