{% extends "student.html" %}
{% load static %}

{% block dashboardButton %}
<button class="nav-link active nav-pills-link" id="dashboard-tab" onClick="window.location.reload();" data-bs-toggle="pill" data-bs-target="#dashboard" type="button" role="tab" aria-controls="dashboard" aria-selected="true">
  <span class="iconify" data-icon="ci:dashboard" data-width="20" data-height="20"></span>
  Dashboard
</button>
{% endblock %}

{% block dashboardContent %}
<div class="tab-pane fade show active" id="dashboard" role="tabpanel" aria-labelledby="v-pills-home-tab">

  <nav class="">
    <div class="nav nav-tabs nav-justified mt-3" id="nav-tab" role="tablist">
      <button class="nav-link active" id="nav-first-tab" data-bs-toggle="tab" data-bs-target="#nav-first" type="button" role="tab" aria-controls="nav-first-tab" aria-selected="false">First</button>
      <button class="nav-link" id="nav-second-tab" data-bs-toggle="tab" data-bs-target="#nav-second" type="button" role="tab" aria-controls="nav-second-tab" aria-selected="true">Second</button>
    </div>
  </nav>

  <div class="tab-content mt-5" id="nav-tabContent">

    <!-- First Year -->
    <div class="tab-pane fade show active" id="nav-first" role="tabpanel" aria-labelledby="nav-first-tab">

      <p class="h4 pb-3 d-flex justify-content-center">
        <strong>Edit Marks</strong>
      </p>

      <div class="mb-3" id="marks" name="edit-body">
        <span></span>
        <button type="button" id="add-marks-btn" class="btn btn-sm ms-auto select-btn custom-btn">
          Add Semester Details
        </button>
      </div>

      <!-- buttons -->
      <div class="d-flex align-items-center justify-content-center m-3 mt-5">

        <button type="submit" class="btn btn-sm update-btn ms-auto custom-btn">
          UPDATE PROFILE
        </button>

        <button type="button" class="btn btn-sm cancel-btn custom-btn" onClick="window.location.reload()">
          CANCEL
          {% comment %} <a href="{% url django.contrib.auth.views.login %}?next={{request.path}}">CANCEL</a> {% endcomment %}
        </button>

      </div>

    </div>

    <!-- Second Year -->
    <div class="tab-pane fade" id="nav-second" role="tabpanel" aria-labelledby="nav-second-tab">

    </div>

  </div>
</div>
{% endblock %}
