{% extends "student.html" %}
{% load static %}

{% block calendarButton %}
<button class="nav-link active nav-pills-link" id="calendar-tab" onClick="window.location.reload();" data-bs-toggle="pill" data-bs-target="#calendar" type="button" role="tab" aria-controls="calendar" aria-selected="false">
  <span class="iconify" data-icon="clarity:date-solid" data-width="20" data-height="20"></span>
  Calender
</button>
{% endblock %}

{% block calendarContent %}
<div class="tab-pane fade show active" id="calendar" role="tabpanel" aria-labelledby="calendar">

</div>
{% endblock %}
