{% load static %}

<!-- Modal -->
<div class="modal fade" id="session-records" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel"><strong>Session Records</strong></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="modal-body">
          <div class="container-fluid">

            <table class="table table-striped table-hover ">
              <thead>
                <tr>
                  <th scope="col">Title</th>
                  <th scope="col">Date</th>
                  <th scope="col">Timing</th>
                  <th scope="col">Duration</th>
                  <th scope="col">Minutes</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">Post Orientation</th>
                  <td>11-2-2022</td>
                  <td>4:30 pm</td>
                  <td>16 mins</td>
                  <td>
                    <button type="button" class="btn btn-sm meetings-btn custom-btn">
                      <span class="iconify" data-icon="gg:notes" data-width="15" data-height="15"></span>
                      &nbsp;Note
                    </button>
                  </td>
                </tr>

                <tr>
                  <th scope="row">Post Orientation</th>
                  <td>11-2-2022</td>
                  <td>4:30 pm</td>
                  <td>16 mins</td>
                  <td>
                    <button type="button" class="btn btn-sm meetings-btn custom-btn">
                      <span class="iconify" data-icon="gg:notes" data-width="15" data-height="15"></span>
                      &nbsp;Note
                    </button>
                  </td>
                </tr>

              </tbody>
            </table>
          </div>

        </div>

      </div>
    </div>
  </div>
</div>
