{% load static %}

<ul id="grd">
  
    {% for users in students %}

      {% if not users.is_staff %}
        <a href="{% url 'studentdetail' fac_id users.Mentee.user.usr_id %}">
          <li class="shrink grid-li">
            <span class="grd-cell">
              <img class="grd-img" src="{{ users.Mentee.user.profile_img.url}}"/><span class="grd-overlay">
              </span><span class="grd-text" style="text-shadow: 1px 1px 1px black,0px 0px 1px black,-1px -1px 1px black,2px 2px 8px black"> {{users.Mentee.user.first_name}} {{users.Mentee.user.last_name}}
              </span></span>
            {% comment %} <input type="checkbox" class="cb-choose" name="cb-choose"> {% endcomment %}
          </li>
        </a>
      {% endif %}
      
    {% endfor %}

  </ul>
