{% load static %}

<ul id="grd">

  <div class="d-flex align-items-center justify-content-center">
    <button class="btn btn-light dropdown-toggle batch-dropdown" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
      Computer Science 2024 Batch
    </button>
    <ul class="dropdown-menu dropdown-box-shadow dropdown-ul" aria-labelledby="dropdownMenuButton1">
      <li><a class="dropdown-item text-dark shadow-none" href="#">Computer Science 2025 Batch</a>
      </li>
      <li><a class="dropdown-item text-dark shadow-none" href="#">Computer Science 2026 Batch</a>
      </li>
      <li><a class="dropdown-item text-dark shadow-none" href="#">Computer Science 2027 Batch</a>
      </li>
    </ul>

    <!-- Button trigger modal -->
    <button type="button" class="btn btn-light meetings-btn ms-auto" data-bs-toggle="modal" data-bs-target="#Meetings">
      <span class="iconify" data-icon="uil:calender" data-width="20" data-height="20"></span>
      Meetings
    </button>

  </div>

  <!-- Meetings modal Section-->
  <div class="modal-body">

    {% include 'components/meetings-modal.html' %}

  </div>
  
    <!-- buttons -->
    {% comment %} <div class="d-flex align-items-center justify-content-center m-3 mb-0">
      <button type="button" class="btn btn-sm custom-btn mx-2" id="btn-select">
        <span class="iconify" data-icon="fluent:checkbox-person-24-regular" data-width="20" data-height="20"></span>
        Select
      </button>

      <button type="reset" class="btn btn-sm custom-btn mx-2" name="btn-show" id="cancel-btn">
        <span class="iconify" data-icon="mdi:account-cancel-outline" data-width="20" data-height="20"></span>
        Cancel
      </button>

      <button type="button" class="btn btn-sm custom-btn" name="btn-show" id="sel-all-btn">
        <span class="iconify" data-icon="fluent:select-all-on-24-regular" data-width="20" data-height="20"></span>
        Select All
      </button>

      <button type="button" class="btn btn-sm ms-auto custom-btn" onclick="window.location.href = '{% url 'Schedule' %}';" name="btn-show" id="schedule-btn" >
        <span class="iconify" data-icon="akar-icons:schedule" data-width="20" data-height="20"></span>
        Schedule meeting
      </button>

    </div> {% endcomment %}

    {% for users in students %}

      {% if not users.is_staff %}
        <a href="{% url 'studentdetail' fac_id users.Mentee.user.usr_id %}">
          <li class="shrink grid-li">
            <span class="grd-cell">
              <img class="grd-img" src="{{ users.Mentee.user.profile_img.url}}"/><span class="grd-overlay">
              </span><span class="grd-text"> {{users.Mentee.user.first_name}} {{users.Mentee.user.last_name}}
              </span></span>
            {% comment %} <input type="checkbox" class="cb-choose" name="cb-choose"> {% endcomment %}
          </li>
        </a>
      {% endif %}
      
    {% endfor %}

  </ul>
