{% extends "admin-announcement.html" %}
{% load static %}

{% block announcementBlogTabButton %}
<button class="nav-link active" id="nav-announcement-blog-tab" onClick="window.location.href='{% url 'admin-announcement-blog' %}'" data-bs-toggle="tab" data-bs-target="#nav-announcement-blog" type="button" role="tab"
  aria-controls="nav-announcement-blog-tab" aria-selected="false">
  <span class="iconify" data-icon="carbon:blog" data-width="20"></span>
</button>
{% endblock %}

{% block announcementBlogTabContent %}
<div class="tab-pane fade active show" id="nav-announcement-blog" role="tabpanel" aria-labelledby="nav-announcement-blog-tab">

  <div class="d-flex align-items-center mt-3 mb-3">
    <button type="submit" class="btn btn-sm custom-btn ms-auto" onClick="window.location.href='{% url 'admin-announcement-new' %}'">
      New
      <span class="iconify" data-icon="akar-icons:circle-plus" data-width="25" data-height="25"></span>
    </button>
  </div>

  {% if notifications %}
  {% for notification in notifications %}
  <div class="card  mb-4" style="box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;">
    <div class="card-header">
      <div class="row">
        <div class="col-6">
          <img class="rounded-circle image3" src="{{notification.sender.profile_img.url}}" height="48" width="48">
          {% if notification.sender.is_superuser %}
          MPT Admin
          {% else %}
          {{notification.sender.first_name}} {{notification.sender.last_name}}
          {% endif %}
        </div>
        <div class="col-6 d-flex align-items-center justify-content-center">
          <form action="{% url 'admin-delete-announcement' notification.id %}" class="mb-0 ms-auto" method='POST'>
            {% csrf_token %}
            <button type="submit" class="btn btn-sm btn-danger ms-auto" onClick="return confirm('Are you sure Do you want to delete this Announcement ?');">
              Delete
            </button>
          </form>
        </div>
      </div>
    </div>

    <div class="card-body">
      <a href="" style="color:black">
        <h5 class="card-title">{{notification.title}}</h5>
      </a>
      <p class="card-text">
        {{notification.content}}
      </p>
    </div>
    <div class="card-footer text-muted">
      {{notification.date|date:"D d M Y" }} {{notification.date|time }}
    </div>
  </div>
  {% endfor %}

  {% else %}
  <div class="d-flex align-items-center justify-content-center mt-3 mb-3 mb-4">
    <p style="font-size: 25px; justify-content: center;">
      <strong>No Announcements</strong>
    </p>
  </div>
  {% endif %}
  <!--Pagination buttons-->
  <div class="d-flex align-items-center justify-content-center mb-0">

    {% if is_paginated  %}

    {% if page_obj.has_prevoius %}
    <a class="btn btn-sm btn-outline-secondary mb-4 left" href="?page=1">First </a>
    <a class="btn btn-sm btn-outline-secondary mb-4 middle" href="?page={{page_obj.previous_page_number}}">Previous </a>
    {% endif %}

    {% for num in page_obj.paginator.page_range %}
    {% if page_obj.number == num %}
    <a class="btn btn-sm btn-outline-secondary mb-4 middle" href="?page={{num}}">{{num}} </a>

    {% elif num > page_obj.number|add:'-3'  and num < page_obj.number|add:'3' %}
    <a class="btn btn-sm btn-outline-secondary mb-4 middle" href="?page={{num}}">{{num}} </a>

    {% endif %}
    {% endfor %}

    {% if page_obj.has_prevoius %}
    <a class="btn btn-sm btn-outline-secondary mb-4 middle" href="?page={{page_obj.next_page_number}}">Next </a>
    <a class="btn btn-sm btn-outline-secondary mb-4 right" href="?page={{page_obj.paginator.num_pages}}">Last </a>
    {% endif %}

    {% endif %}

  </div>

</div>
{% endblock %}
