{% extends "admin.html" %}
{% load static %}
{% block userTabButton %}
<button class="nav-link active" id="nav-users-tab" data-bs-toggle="tab" data-bs-target="#nav-users" type="button" role="tab" aria-controls="nav-users-tab" aria-selected="true">
  Users
</button>
{% endblock %}
{% block userTabContent %}
<div class="tab-pane fade show active" id="nav-users" role="tabpanel" aria-labelledby="nav-users-tab">
  <div class="container-fluid mb-5">
    <div class="sidebar flex-shrink-0 dashboard-navigation">
      <div class="sidebar-heading d-flex align-items-center justify-content-center">
        <h5>Registered Users</h5>
      </div>
      <!-- buttons -->
      <div class="container-fluid" style="overflow-x: auto;">
        <div class="d-flex bd-highlight mb-2">
          <!-- Add normal users  -->
          <div class="p-2 pt-3 bd-highlight">
            <button type="button" onclick="window.location.href = '{% url 'AdminRegister'  %}';" class="btn ms-auto btn-sm custom-btn" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
              <span class="iconify" data-icon="ant-design:user-add-outlined" data-width="25" data-height="25"></span>
              Add Admins
            </button>
          </div>
          <div class="p-2 pt-3 bd-highlight">
            <button type="button" onclick="window.location.href = '{% url 'FacultyRegister'  %}';" class="btn custom-btn ms-auto btn-sm" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
              <span class="iconify" data-icon="ant-design:user-add-outlined" data-width="25" data-height="25"></span>
              Add Faculty
            </button>
          </div>
          <div class="p-2 pt-3 bd-highlight">
            <button type="button" onClick="window.location.reload()" class="btn custom-btn btn-sm" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
              <span class="iconify" data-icon="ci:refresh-02" data-width="25" data-height="25"></span>
              Refresh List
            </button>
          </div>
        </div>
      </div>
      <!-- table -->
      <div class="table-div m-4 mt-2 mb-4">
        <table class="table table-striped table-bordered table-hover" style="widows: 100%;" id="user-table">
          <thead>
            <tr>
              <th scope="col" class="px-2 py-1 text-center">Name</th>
              <th scope="col" class="px-2 py-1 text-center">User ID</th>
              <th scope="col" class="px-2 py-1 text-center">Email</th>
              <th scope="col" class="px-2 py-1 text-center">Active</th>
              <th scope="col" class="px-2 py-1 text-center">Staff</th>
              <th scope="col" class="px-2 py-1 text-center">Superuser</th>
              <th scope="col" class="px-2 py-1 text-center">Actions</th>
            </tr>
          </thead>
          <tbody>
            {% for user in users %}
            <tr>
              <th scope="row" class="px-2 py-1 text-center">{{user.first_name}} {{ user.last_name}}</th>
              <td class="px-2 py-1 text-center">{{user.usr_id}}</td>
              <td class="px-2 py-1 text-center">{{user.email}}</td>
              <td class="px-2 py-1 text-center">
                {% if user.is_active %}
                <span class="badge bg-primary rounded-pill px-4 py-2">Active</span> {% else %}
                <span class="badge bg-danger rounded-pill px-4 py-2">Inactive</span> {% endif %}
              </td>
              <td class="px-2 py-1 text-center">
                {% if user.is_staff %}
                <span class="badge bg-warning rounded-pill px-4 py-2">&nbsp; Staff &nbsp;</span> {% else %}
                <span class="badge bg-secondary rounded-pill px-4 py-2">Student</span> {% endif %}
              </td>
              <td class="px-2 py-1 text-center">
                {% if user.is_superuser %}
                <span class="badge bg-success rounded-pill px-4 py-2">Superuser</span> {% else %}
                <span class="badge bg-secondary rounded-pill px-4 py-2">User</span> {% endif %}
              </td>
              <td class="px-2 py-1 text-center">
                <button type="button" class="btn btn-info ms-auto btn-sm" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Edit" style="border-color: black" {% if user.is_superuser %} onClick="window.location.reload()" {% else %} onClick="window.location.href='{% url 'update-user' user.usr_id %}'"
                  {% endif %}>
                  <span class="iconify" data-icon="bxs:edit" data-width="18" data-height="18"></span>
                </button>
                <form action="{% url 'delete-user' user.id %}" class="mb-0" style="display: inline-block" method='POST'>
                  {% csrf_token %}
                  <button type="submit" class="btn btn-danger ms-auto btn-sm" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Delete" style="border-color: black" onClick="return confirm('Are you sure Do you want to delete this user/account ?');">
                    <span class="iconify" data-icon="ant-design:delete-filled" data-width="17" data-height="18"></span>
                  </button>
                </form>
              </td>
            </tr>
            {% endfor %}
          </tbody>
          <tfoot>
            <tr>
              <th scope="col" class="px-2 py-1 text-center">Name</th>
              <th scope="col" class="px-2 py-1 text-center">User ID</th>
              <th scope="col" class="px-2 py-1 text-center">Email</th>
              <th scope="col" class="px-2 py-1 text-center">Active</th>
              <th scope="col" class="px-2 py-1 text-center">Staff</th>
              <th scope="col" class="px-2 py-1 text-center">Superuser</th>
              <th scope="col" class="px-2 py-1 text-center">Actions</th>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock %}
