{% extends "admin-meeting.html" %}
{% load static %}

{% block upcomingTabButton %}
<button class="nav-link active" id="nav-upcoming-tab" onClick="window.location.href='{% url 'admin-upcoming-meeting' %}'" data-bs-toggle="tab" data-bs-target="#nav-upcoming" type="button" role="tab" aria-controls="nav-upcoming-tab"
  aria-selected="false">
  Upcoming
</button>
{% endblock %}

{% block upcomingTabContent %}

<div class="tab-pane fade active show" id="nav-upcoming" role="tabpanel" aria-labelledby="nav-upcoming-tab">

  <!-- Upcoming -->
  <div class="tab-pane m-4 mt-3 class="text-center" mb-4 fade show active" id="nav-upcoming" role="tabpanel" aria-labelledby="nav-upcoming-tab">
    <table class="table table-striped table-hover table-bordered table-sm" style="widows: 100%;" id="upcoming-table">
      <thead>
        <tr>
          <th scope="col">Date</th>
          <th scope="col">Time</th>
          <th scope="col">Title</th>
          <th scope="col">Mode</th>
          <th scope="col">Venue/link</th>
          <th scope="col">Description</th>
          <th scope="col">Mentor</th>
          <th scope="col">Mentee</th>
          <th scope="col">Department</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for meeting in meetings %}
        {% if todays_date <= meeting.Meeting_date and current_time < meeting.Meeting_time or not todays_date >= meeting.Meeting_date and current_time > meeting.Meeting_time%}
        <tr>
          <th scope="row">{{meeting.Meeting_date}}</th>
          <td class="text-center">{{meeting.Meeting_time}}</td>
          <td class="text-center">{{meeting.Meeting_title}}</td>
          <td class="text-center">{{meeting.Meeting_mode}}</td>
          <td class="text-center">{{meeting.Meeting_link_or_venue}}</td>
          <td class="text-center">{{meeting.Meeting_description}}</td>
          <td class="text-center">{{meeting.Sender.user.first_name}} {{meeting.Sender.user.first_name}}</td>
          <td class="text-center">{{meeting.Receiver.user.first_name}} {{meeting.Receiver.user.last_name}}</td>
          <td class="text-center">{{meeting.Sender.Branch}}</td>
          <td class="text-center">
            <form action="{% url 'admin-delete-meeting-record' meeting.Meeting_id %}" class="mb-0" style="display: inline-block" method='POST'>
              {% csrf_token %}
              <button type="submit" class="btn btn-danger ms-auto btn-sm" style="border-color: black" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Delete" onClick="return confirm('Are you sure Do you want to delete this meeting record ?');">
                <span class="iconify" data-icon="ant-design:delete-filled" data-width="17" data-height="18"></span>
              </button>
            </form>
          </td>
        </tr>
        {% endif %}
        {% endfor %}
      </tbody>
    </table>
  </div>

</div>
{% endblock %}
