{% extends "admin-announcement.html" %}
{% load static %}

{% block announcementTableTabButton %}
<button class="nav-link active" id="nav-announcement-table-tab" onClick="window.location.href='{% url 'admin-announcement-table' %}'" data-bs-toggle="tab" data-bs-target="#nav-announcement-table" type="button" role="tab"
  aria-controls="nav-announcement-table-tab" aria-selected="false">
  <span class="iconify" data-icon="fa:table" data-width="20" data-height="20"></span>
</button>
{% endblock %}

{% block announcementTableTabContent %}

<div class="tab-pane fade active show" id="nav-announcement-table" role="tabpanel" aria-labelledby="nav-announcement-table-tab">

  <div class="d-flex align-items-center justify-content-center">
    <button type="submit" class="btn btn-sm custom-btn ms-auto m-4 mt-0 mb-0" onclick="window.location.href = '{% url 'admin-announcement-new' %}';">
      New
      <span class="iconify" data-icon="akar-icons:circle-plus" data-width="25" data-height="25"></span>
    </button>
  </div>

  <!-- table -->
  <div class="table-div m-4 mt-3 mb-4">
    <table class="table table-striped table-bordered table-hover" style="widows: 100%;" id="announcement-table">
      <thead>
        <tr>
          <th scope="col" class="px-2 py-1 text-center">From</th>
          <th scope="col" class="px-2 py-1 text-center">Status</th>
          <th scope="col" class="px-2 py-1 text-center">Date</th>
          <th scope="col" class="px-2 py-1 text-center">Time</th>
          <th scope="col" class="px-2 py-1 text-center">Title</th>
          <th scope="col" class="px-2 py-1 text-center">Description</th>
          <th scope="col" class="px-2 py-1 text-center">Actions</th>
        </tr>
      </thead>
      <tbody id="myTable">
        {% if notifications %}
        {% for notification in notifications %}
        <tr>
          <th scope="row" class="px-2 py-1 text-center">
            {% if notification.sender.is_superuser %}
            MPT Admin
            {% else %}
            {{notification.sender.first_name}} {{notification.sender.last_name}}
            {% endif %}
          </th>
          <td class="px-2 py-1 text-center">
            {% if notification.sender.is_superuser and notification.sender.is_staff  %}
            Admin
            {% else %}
            Teacher
            {% endif %}

          </td>
          <td class="px-2 py-1 text-center">{{notification.date|date:"D d M Y" }}</td>
          <td class="px-2 py-1 text-center">{{notification.date|time }}</td>
          <td class="px-2 py-1 text-center">{{notification.title}}</td>
          <td class="px-2 py-1 text-center">{{notification.content}} </td>
          <td class="px-2 py-1 text-center">
            <form action="{% url 'admin-delete-announcement' notification.id %}" class="mb-0" style="display: inline-block" method='POST'>
              {% csrf_token %}
              <button type="submit" class="btn btn-sm btn-danger ms-auto" onClick="return confirm('Are you sure Do you want to delete this Announcement ?');">
                Delete
              </button>
            </form>
          </td>
        </tr>
        {% endfor %}
        {% endif %}
      </tbody>
    </table>
  </div>

</div>
{% endblock %}
