{% extends "admin.html" %}
{% load static %}
{% block studentTabButton %}
<button class="nav-link" id="nav-students-tab" data-bs-toggle="tab" data-bs-target="#nav-students" type="button" role="tab" aria-controls="nav-students-tab" aria-selected="true">
    Students
</button>
{% endblock %}
{% block studentTabContent %}
<div class="tab-pane fade show active" id="nav-students" role="tabpanel" aria-labelledby="nav-students-tab">
    <div class="container-fluid mb-5">
        <div class="sidebar flex-shrink-0 dashboard-navigation">
            <div class="sidebar-heading d-flex align-items-center justify-content-center">
                <h5>Students</h5>
            </div>
            <!-- buttons -->
            <div class="container-fluid" style="overflow-x: auto;">
                <div class="d-flex bd-highlight mb-3">
                    <!--   -->
                    <div class="p-2 bd-highlight">
                        <button type="button" onclick="window.location.href = '{% url 'register'  %}';" class="btn btn-light meetings-btn ms-auto btn-sm btn-outline-dark" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                            <span class="iconify" data-icon="ant-design:user-add-outlined" data-width="25" data-height="25"></span>
                            Add Students
                        </button>
                    </div>
                    <div class="p-2 bd-highlight">
                        <button type="button" onClick="window.location.reload()" class="btn btn-light  btn-sm btn-outline-dark" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                            <span class="iconify" data-icon="ci:refresh-02" data-width="25" data-height="25"></span>
                            Refresh List
                        </button>
                    </div>
                    <div class="p-2 bd-highlight">
                        <input class="form-control" id="myInput" type="text" placeholder="Search..">
                    </div>
                    <div class="ms-auto p-2 bd-highlight">
                        <button type="button" onclick="alert('Logic to download csv');" class="btn btn-light meetings-btn ms-auto btn-sm btn-outline-dark" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                            <span class="iconify" data-icon="iwwa:file-csv" data-width="25" data-height="25"></span>
                            Download
                        </button>
                    </div>
                </div>
            </div>
            <!-- table -->
            <div class="table-div m-4 mt-4 mb-4">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">User ID</th>
                            <th scope="col">Email</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody id="myTable">
                        {% for users in user %}
                        <tr>
                            <th scope="row">{{users.first_name}} {{users.last_name}}</th>
                            <td>{{users.usr_id}}</td>
                            <td>{{users.email}}</td>
                            <td>
                                <span class="iconify" data-icon="bx:edit"></span>
                                <span class="iconify" data-icon="ant-design:copy-outlined"></span>
                                <span class="iconify" data-icon="ant-design:delete-filled"></span>
                                <span class="iconify" data-icon="ri:indeterminate-circle-fill"></span>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}