{% extends "admin.html" %}
{% load static %}

{% block meetingTabButton %}
<button class="nav-link active" id="nav-meeting-tab" data-bs-toggle="tab" data-bs-target="#nav-meeting" type="button" role="tab" aria-controls="nav-meeting-tab" aria-selected="true">
  Meeting
</button>
{% endblock %}

{% block meetingTabContent %}
<div class="tab-pane fade active show" id="nav-meeting" role="tabpanel" aria-labelledby="nav-meeting-tab">


  <div class="container-fluid mb-5">
    <div class="sidebar flex-shrink-0 dashboard-navigation">
      <div class="sidebar-heading d-flex align-items-center justify-content-center">
        <h5>Meeting</h5>
      </div>

      <!-- table -->
      <div class="table-div m-4 mt-4 mb-4">
        <table class="table table-striped table-bordered" style="widows: 100%;" id="meeting-table">
          <thead>
            <tr>
              <th scope="col" class="px-2 py-1 text-center">Name</th>
              <th scope="col" class="px-2 py-1 text-center">Email</th>
              <th scope="col" class="px-2 py-1 text-center">Student Id</th>
              <th scope="col" class="px-2 py-1 text-center">Roll No.</th>
            </tr>
          </thead>
          <tbody id="">
            <tr>
              <th scope="row" class="px-2 py-1 text-center"></th>
              <td class="px-2 py-1 text-center"></td>
              <td class="px-2 py-1 text-center"></td>
              <td class="px-2 py-1 text-center"></td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>
  </div>
</div>




{% endblock %}
