{% extends "faculty.html" %}
{% load static %}

{% block announcementButton %}
<button class="nav-link active nav-pills-link text-left d-flex align-items-center" id="announcement-tab" onclick="window.location.href = '{% url 'faculty-announcement' %}';" data-bs-toggle="pill" data-bs-target="#announcement" type="button" role="tab" aria-controls="announcement"
  aria-selected="false">
  <span class="iconify" data-icon="bx:message-detail" data-width="20" data-height="20"></span>
  &nbsp;Announcement
</button>
{% endblock %}

{% block announcementContent %}
<div class="tab-pane fade show active" id="announcement" role="tabpanel" aria-labelledby="announcement">
  <div class="tab-pane fade show active m-5 mt-0 mb-0 text" id="announcement" role="tabpanel" aria-labelledby="announcement">

    <div class="d-flex align-items-center justify-content-center mt-3 mb-3">
      <h1 style="font-size: 25px; justify-content: center;">
        <strong>New Announcement</strong>
      </h1>
    </div>

    <form method="POST" onsubmit="post.disabled = true; return true;" >
      {% csrf_token %}

      <div class="mb-4">
        <label for="inputTitle" class="form-label"><strong>Title</strong></label>
        <input type="text" name='title' placeholder="Title" class="form-control" id="inputTitle" required>
      </div>

      <div class="mb-4">
        <label for="inputDescription" class="form-label"><strong>Description</strong></label>
        <textarea class="form-control" name='content' id="inputDescription" rows="10" required></textarea>
      </div>

      <div class="mb-3">
        <p for="inputSendto" class="form-label mb-0"><strong>Send To</strong></p>

        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inputRadioFe" value="FE" required>
          <label class="form-check-label" for="inputRadioFe">FE</label>
        </div>

        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inputRadioSe" value="SE" required>
          <label class="form-check-label" for="inputRadioSe">SE</label>
        </div>

        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inputRadioTe" value="TE" required>
          <label class="form-check-label" for="inputRadioTe">TE</label>
        </div>

        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inputRadioBe" value="BE" required>
          <label class="form-check-label" for="inputRadioBe">BE</label>
        </div>

        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inputRadioGrad" value="Graduated" required>
          <label class="form-check-label" for="inputRadioGrad">Graduated</label>
        </div>

        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inputRadioAll" value="ALL" required>
          <label class="form-check-label" for="inputRadioAll">ALL</label>
        </div>

      </div>

      <div class="d-flex align-items-center justify-content-center mt-3 mb-3">
        <input type="submit" value='POST' class="btn btn-sm ms-auto custom-btn" name='post'>
      </div>
    </form>

  </div>
</div>

<script>
</script>

{% endblock %}