{% extends "faculty.html" %}
{% load static %}


{% block editButton %}
<button class="nav-link active nav-pills-link text-left d-flex align-items-center" id="edit-tab" onclick="window.location.href = '{% url 'Edit' %}';" data-bs-toggle="pill" data-bs-target="#edit" type="button" role="tab" aria-controls="edit" aria-selected="false">
  <span class="iconify" data-icon="akar-icons:edit" data-width="20" data-height="20"></span>
  &nbsp;Edit Profile
</button>
{% endblock %}

{% block editContent %}
<div class="tab-pane fade show active" id="edit" role="tabpanel" aria-labelledby="edit">


  <form action="{% url 'Edit' %}" method="POST" enctype="multipart/form-data" onsubmit="update.disabled = true; return true;">

    {% csrf_token %}
    <div class="container mt-2 mb-3 text">
      <p style="font-size: 25px; padding-bottom: 1rem; display: flex; justify-content: center;">
        <strong>Edit Profile</strong>
      </p>

      <!-- First Row  -->
      <div class="row">
        <div class="col-6 full-width-sm" style="display: flex; justify-content: center;">
          <div class="form-group form-floating col-md-10">
            <input type="text" name='fName' class="form-control" id="inputFname" placeholder="First Name" value='{{profile.user.first_name}}'>
            <label for="inputFname">First Name</label>
          </div>
        </div>

        <div class="col-6 full-width-sm pt-sm" style="display: flex; justify-content: center;">
          <div class="form-group form-floating col-md-10">
            <input type="text" name='mName' class="form-control" id="inputMname" placeholder="Middle Name" value='{{profile.user.middle_name}}'>
            <label for="inputMname">Middle Name</label>
          </div>
        </div>
      </div>

      <!-- Second Row  -->
      <div class="row pt-3">
        <div class="col-6 full-width-sm" style="display: flex; justify-content: center;">
          <div class="form-group form-floating col-md-10">
            <input type="text" name='lName' class="form-control" id="inputLname" placeholder="Last Name" value='{{profile.user.last_name}}'>
            <label for="inputLname">Last Name</label>
          </div>
        </div>

        <div class="col-6 full-width-sm pt-sm" style="display: flex; justify-content: center;">
          <div class="form-group form-floating col-md-10">
            <input class="form-control form-control-sm custom-file-input" name='profileImg' type="file" accept="image/png, image/jpeg" id="imgsize" value='{{user.profile_img}}' onchange="validateSize(this)">
            <label for="formFile" class="form-label">Profile Picture</label>
            {% if user.profile_img != 'logo.png' %}
            <strong> image added:</strong>
            {{user.profile_img |make_list|slice:'7:'|join:''}}
            {% endif %}
          </div>
        </div>
      </div>

      <!-- Third Row  -->
      <div class="row pt-3">
        <div class="col-6 full-width-sm" style="display: flex; justify-content: center;">
          <div class="form-group form-floating col-md-10">
            <input type="text" name='usr_id' id="inputTeacherId" class="form-control" placeholder="Teacher Id" value='{{ user.usr_id}}'>
            <label for="inputTeacherId">Teacher Id</label>
          </div>
        </div>

        <div class="col-6 full-width-sm pt-sm" style="display: flex; justify-content: center;">
          <div class="form-group form-floating col-md-10">
            <select id="inputDept" class="form-select" name="dept">
              {% if not profile.Branch %}
              <option disabled selected>Please Select Your Branch</option>
              {% else %}
              <option disabled>Please Select Select Your Branch</option>
              {% endif %}
              {% for department in department_list %}
              {% if profile.Branch and profile.Branch == department %}
              <option selected>{{ department}}</option>
              {% else %}
              <option>{{ department }}</option>
              {% endif %}
              {% endfor %}

            </select>
            <label for="inputDept">Department</label> <br>
          </div>
        </div>
      </div>

      <!-- Forth Row  -->
      <div class="row">
        <div class="col-6 full-width-sm" style="display: flex; justify-content: center;">
          <div class="form-group form-floating col-md-10">
            <select id="inputBGroup" class="form-select" name="blood_group">

              {% if not profile.Blood_grp %}
              <option disabled selected>Please Select Your Blood Group</option>
              {% else %}
              <option disabled>Please Select Your Blood Group</option>
              {% endif %}
              {% for bloodGroup in bloodGroup_list %}
              {% if profile.Blood_grp and profile.Blood_grp == bloodGroup %}
              <option selected>{{ bloodGroup}}</option>
              {% else %}
              <option>{{ bloodGroup }}</option>
              {% endif %}
              {% endfor %}

            </select>
            <label for="inputBGroup">Blood Group</label> <br>
          </div>
        </div>

        <div class="col-6 full-width-sm" style="display: flex; justify-content: center;">
          <div class="form-group form-floating col-md-10">
            <select id="inputGender" class="form-select" name="gender">
              {% if not profile.Gender %}
              <option disabled selected>Please Select Your Gender</option>
              {% else %}
              <option disabled>Please Select Your Gender</option>
              {% endif %}
              {% if profile.Gender and profile.Gender == 'Male' %}
              <option selected>Male</option>
              {% else %}
              <option>Male</option>
              {% endif %}
              {% if profile.Gender and profile.Gender == 'Female' %}
              <option selected>Female</option>
              {% else %}
              <option>Female</option>
              {% endif %}

            </select>
            <label for="inputGender">Gender</label> <br>
          </div>
        </div>
      </div>

      <!-- Fifth Row  -->
      <div class="row">
        <div class="col-6 full-width-sm" style="display: flex; justify-content: center;">
          <div class="form-group form-floating col-md-10">
            <input type="date" name='dob' id="inputDob" class="form-control" placeholder="Date Of Birth" value="{% if profile.DateofBirth %}{{ profile.DateofBirth|date:'Y-m-d' }}{% endif %}">
            <label for="inputDob">Date Of Birth</label>
          </div>
        </div>

        <div class="col-6 full-width-sm pt-sm" style="display: flex; justify-content: center;">
          <div class="form-group form-floating col-md-10">
            <input type="date" name='doj' id="inputDoj" class="form-control" placeholder="Date Of Joining" value="{% if profile.DateofJoining %}{{ profile.DateofJoining|date:'Y-m-d' }}{% endif %}">
            <label for="inputDoj">Date of Joining</label>
          </div>
        </div>
      </div>

      <!-- Sixth Row  -->
      <div class="row pt-3">
        <div class="col-6 full-width-sm" style="display: flex; justify-content: center;">
          <div class="form-group form-floating col-md-10">
            <textarea type="text" name='Address' class="form-control" id="inputAddress" placeholder="Address" value=''>{% if profile.Address != None and 'None' %}{{profile.Address}}{% endif %}</textarea>
            <label for="inputAddress">Address</label>
          </div>
        </div>

        <div class="col-6 full-width-sm pt-sm" style="display: flex; justify-content: center;">
          <div class="form-group form-floating col-md-10">
            <input type="text" name='city' class="form-control" id="inputcity" placeholder="city" value='{% if profile.City != None and "None" %}{{profile.City}}{% endif %}'>
            <label for="inputcity">City</label>
          </div>
        </div>
      </div>

      <!-- Seventh Row  -->
      <div class="row pt-3">
        <div class="col-6 full-width-sm" style="display: flex; justify-content: center;">
          <div class="form-group form-floating col-md-10">
            <input type="text" name='state' class="form-control" id="inputstate" placeholder="state" value='{{profile.State}}'>
            <label for="inputstate">State</label>
          </div>
        </div>

        <div class="col-6 full-width-sm pt-sm" style="display: flex; justify-content: center;">
          <div class="form-group form-floating col-md-10">
            <input type="text" name='country' class="form-control" id="inputcountry" placeholder="country" value='{{profile.Country}}'>
            <label for="inputcountry">Country</label>
          </div>
        </div>
      </div>

      <!-- Eight Row  -->
      <div class="row pt-3">
        <div class="col-6 full-width-sm" style="display: flex; justify-content: center;">
          <div class="form-group form-floating col-md-10">
            <input type="text" name='Quali' class="form-control" id="inputQuali" placeholder="Qualification" value='{% if profile.qualification != None and "None" %}{{profile.qualification}}{% endif %}'>
            <label for="inputQuali">Qualification</label>
          </div>
        </div>

        <div class="col-6 full-width-sm pt-sm" style="display: flex; justify-content: center;">
          <div class="form-group form-floating col-md-10">
            <input type="text" name='mTongue' class="form-control" id="inputMtongue" placeholder="Mother Tongue" value='{% if profile.mother_tongue != None and "None" %}{{profile.mother_tongue}}{% endif %}'>
            <label for="inputMtongue">Mother Tongue</label>
          </div>
        </div>
      </div>

      <!-- Ninth Row  -->
      <div class="row pt-3">
        <div class="col-6 full-width-sm" style="display: flex; justify-content: center;">
          <div class="form-group form-floating col-md-10">
            <input type="text" name='Religion' class="form-control" id="inputReligion" placeholder="Religion" value='{% if profile.religion != None and "None" %}{{profile.religion}}{% endif %}'>
            <label for="inputReligion">Religion</label>
          </div>
        </div>

        <div class="col-6 full-width-sm pt-sm" style="display: flex; justify-content: center;">
          <div class="form-group form-floating col-md-10">
            <input type="tel" name="phone" class="form-control" id="inputContactNo" placeholder="Contact No." pattern="[0-9]{10}" value='{{user.phone}}'>
            <label for="inputContactNo">Contact No.</label>
          </div>
        </div>
      </div>
      <!-- Tenth Row  -->

      {% comment %} <div class="row pt-3">
        <div class="col-6 full-width-sm" style="display: flex; justify-content: center;">
          <div class="form-group form-floating col-md-10">
            <input type="url" name='link' class="form-control" id="Meetlink" placeholder="Meeting Link URL starting with http:// OR https://" value='{% if profile.meeting_link != None and "None" %}{{profile.meeting_link}}{% endif %}'>
            <label for="Meetlink">Meeting Link</label>
          </div>
        </div>
      </div>
    </div> {% endcomment %}

    <!-- buttons -->
    <div class="d-flex align-items-center justify-content-center m-3 mt-5">

      <button type="submit" class="btn btn-sm update-btn ms-auto" name='update'>
        UPDATE PROFILE
      </button>

      <button type="button" class="btn btn-sm cancel-btn" onClick="window.location.href='{% url 'faculty' request.user.usr_id %}';"
        style="margin-left: 10px;">
        CANCEL
      </button>

    </div>

  </form>

</div>
{% endblock %}
