{% extends "faculty.html" %}
{% load static %}

{% block dashboardButton %}
<button class="nav-link active nav-pills-link text-left d-flex align-items-center" id="dashboard-tab" onClick="window.location.href='{% url 'faculty' user.usr_id %}';" data-bs-toggle="pill" data-bs-target="#dashboard" type="button" role="tab" aria-controls="dashboard"
  aria-selected="true">
  <span class="iconify" data-icon="ci:dashboard" data-width="20" data-height="20"></span>
  &nbsp;Dashboard
</button>
{% endblock %}


{% block dashboardContent%}
<div class="tab-pane fade show active" id="dashboard" role="tabpanel" aria-labelledby="v-pills-home-tab">
  <form action={% url 'faculty' user.usr_id %} method='GET'>
    <div class="d-flex align-items-center justify-content-center m-5 mb-0 mt-3 text">
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inputRadioFe" value="FE" {{ FE }}>
        <label class="form-check-label" for="inputRadioFe">FE</label>
      </div>

      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inputRadioSe" value="SE" {{ SE }}>
        <label class="form-check-label" for="inputRadioSe">SE</label>
      </div>

      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inputRadioTe" value="TE" {{ TE }}>
        <label class="form-check-label" for="inputRadioTe">TE</label>
      </div>

      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inputRadioBe" value="BE" {{ BE }}>
        <label class="form-check-label" for="inputRadioBe">BE</label>
      </div>
      
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inputRadioGrad" value="Graduated" {{ Graduated }}>
        <label class="form-check-label" for="inputRadioGrad">Graduated</label>
      </div>

      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inputRadioAll" value="ALL" {{ ALL }}>
        <label class="form-check-label" for="inputRadioAll">ALL </label>

      </div>

      <button type="submit" class="btn custom-btn">
        Filter
      </button>
  </form>
  <!-- Button trigger modal -->
  <button type="button" class="btn custom-btn ms-auto d-flex justify-items-center align-items-center" onClick="window.location.href='{% url 'overall-meeting-records' %}';">
    <span class="iconify" data-icon="uil:calender" data-width="20" data-height="20"></span>
    &nbsp;Meetings
  </button>

</div>

{% include 'components/student-grid.html' %}

</div>
{% endblock %}
