{% extends "faculty.html" %}
{% load static %}

{% block dashboardButton %}
<button class="nav-link active nav-pills-link" id="dashboard-tab" onclick="window.location.href = 'faculty-dashboard.html';" data-bs-toggle="pill" data-bs-target="#dashboard" type="button" role="tab" aria-controls="dashboard" aria-selected="true">
  <span class="iconify" data-icon="ci:dashboard" data-width="20" data-height="20"></span>
  Dashboard
</button>
{% endblock %}

{% block dashboardContent %}
<div class="tab-pane fade show active" id="dashboard" role="tabpanel" aria-labelledby="v-pills-home-tab">

  <section class="m-5 mt-1">
    <span class="stu-prof-info">
      <div class="stu-info">

        <!--Student Name-->
        <p style="font-size: 25px; padding-bottom: 1rem; display: flex; justify-content: center;">
          <strong>Boris Edison</strong>
        </p>

        <!--Edit Student Details Button-->
        <div class="d-flex align-items-center justify-content-center mb-3">
          <button type="button" class="btn btn-sm ms-auto select-btn" data-bs-toggle="modal" data-bs-target="#edit-details" style="width: auto; border-radius: 7px; background-color: #112D4E; color: white; box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.5);">
            <span class="iconify" data-icon="mdi:account-edit" data-width="20" data-height="20"></span>
            Edit Details
          </button>
        </div>

        <!-- Edit Student Details Modal -->
        <div class="modal fade" id="edit-details" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Edit Details</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">

                <!--Edit Student Details-->
                {% include 'components/edit-student-details.html' %}

              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-sm">Save changes</button>
                <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>

        <div class="row">

          <!--Student Image-->
          <div class="col-lg-2 col-md-12 col-sm-12 d-flex align-items-center" style="justify-content: center;">
            <img src="{% static 'content/mentee/boris.png' %}" class="stu-img" style="height: 22vh; box-shadow: 0 0 5px 1.5px rgba(0, 0, 0, 0.5)" alt="hero">
          </div>

          <!-- Student Info -->
          <div class="col-lg-10 accordion-div">
            <div class="accordion accordion-flush" style="border-radius: 4px" id="accordionFlushExample">

              <!--Stduent Information Accordion-->
              {% include 'components/accordion-stu-info.html' %}

            </div>
          </div>

        </div>
      </div>
    </span>

    <button type="button" class="btn btn-sm ms-auto select-btn d-flex align-items-center justify-content-center mt-4" onclick="window.location.href = 'faculty-student-marks.html';" type="button"
      style="width: auto; border-radius: 7px; background-color: #112D4E; color: white; box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.5); ">
      <span class="iconify" data-icon="akar-icons:edit" data-width="20" data-height="20"></span>
      Edit Marks
    </button>

    <!-- Year heading -->
    <p style="font-size: 25px; padding-top: 2rem;"><strong>First Year</strong></p>

  </section>

  <!-- Graph-->
  <section class="graphs flex-md-row">
    <span style="max-width: 350px;">
      <canvas id="donutGraphSem1"></canvas>
      <canvas id="barGraphSem1" class="pt-2"></canvas>
    </span>
    <span style="max-width: 350px;">
      <canvas id="donutGraphSem2"></canvas>
      <canvas id="barGraphSem2" class="pt-2"></canvas>
    </span>
  </section>

  <!-- Session Records Button -->
  <div class="d-flex" style="padding: 2.3vh;">
    <button type="button" style="background-color:#112D4E; color:white; border-radius: 7px" class="btn btn-sm meetings-btn ms-auto" data-bs-toggle="modal" data-bs-target="#session-records">
      <span style="color: white;" class="iconify" data-icon="akar-icons:circle-plus" data-width="19" data-height="20"></span>
      Session Records
    </button>
  </div>

  <!-- Session Records modal Section-->
  <div class="modal-body">

    {% include 'components/session-records-modal.html' %}

  </div>
</div>
{% endblock %}
