{% extends "faculty.html" %}
{% load static %}

{% block analyticsButton %}
<button class="nav-link active nav-pills-link text-left d-flex align-items-center" id="analytics-tab" onClick="window.location.reload()" data-bs-toggle="pill" data-bs-target="#analytics" type="button" role="tab" aria-controls="analytics" aria-selected="false">
  <span class="iconify" data-icon="foundation:graph-pie" data-width="22" data-height="22"></span>
  &nbsp;Analytics
</button>
{% endblock %}

{% block analyticsContent %}
<div class="tab-pane fade show active" id="analytics" role="tabpanel" aria-labelledby="analytics">

</div>
{% endblock %}
