{% extends "faculty.html" %}
{% load static %}

{% block messageButton %}

<button class="nav-link active nav-pills-link" id="message-tab" onClick="window.location.reload()" data-bs-toggle="pill" data-bs-target="#message" type="button" role="tab" aria-controls="message" aria-selected="false">
  <span class="iconify" data-icon="bx:message-detail" data-width="20" data-height="20"></span>
  Message
</button>

{% endblock %}


{% block messageContent %}

<div class="tab-pane fade show active" id="message" role="tabpanel" aria-labelledby="message">

</div>

{% endblock %}
