{% extends "faculty.html" %}
{% load static %}

{% block dashboardButton %}
<button class="nav-link active nav-pills-link text-left d-flex align-items-center" id="dashboard-tab" onClick="window.location.href='{% url 'faculty' user.usr_id %}';" data-bs-toggle="pill" data-bs-target="#dashboard" type="button" role="tab" aria-controls="dashboard"
  aria-selected="true">
  <span class="iconify" data-icon="ci:dashboard" data-width="20" data-height="20"></span>
  &nbsp;Dashboard
</button>
{% endblock %}


{% block dashboardContent%}
{% if request.user.is_staff %}
<div class="tab-pane fade show active" id="dashboard" role="tabpanel" aria-labelledby="v-pills-home-tab">

  <div class="container mt-2 mb-3">
    <p style="font-size: 25px; padding-bottom: 1rem; display: flex; justify-content: center;">
      <strong>Notes</strong>
    </p>

    <!-- First Row  -->
    <div class="row">
      <div class="col-6 full-width-sm" style="display: flex; justify-content: center;">
        <div class="form-group form-floating col-md-10">
          <input type="text" name='mName' class="form-control" id="inputMname" placeholder="Mentee Name" value='{{meeting.Receiver.user.first_name}}  {{meeting.Receiver.user.last_name}}' disabled>
          <label for="inputMname">Mentee Name</label>
        </div>
      </div>

      <div class="col-6 full-width-sm pt-sm" style="display: flex; justify-content: center;">
        <div class="form-group form-floating col-md-10">
          <input type="text" name='title' class="form-control" id="inputTitle" placeholder="Title" value='{{meeting.Meeting_title}}' disabled>
          <label for="inputTitle">Title</label>
        </div>
      </div>
    </div>

    <!-- Second Row  -->
    <div class="row pt-3">
      <div class="col-6 full-width-sm" style="display: flex; justify-content: center;">
        <div class="form-group form-floating col-md-10">
          <input type="text" name='date' class="form-control" id="inputDate" placeholder="Date" value='{{meeting.Meeting_date}}' disabled>
          <label for="inputDate">Date</label>
        </div>
      </div>

      <div class="col-6 full-width-sm" style="display: flex; justify-content: center;">
        <div class="form-group form-floating col-md-10">
          <input type="text" name='time' class="form-control" id="inputTime" placeholder="Time" value='{{meeting.Meeting_time}}' disabled>
          <label for="inputTime">Time</label>
        </div>
      </div>
    </div>

    <!-- Third Row  -->
    <div class="row pt-3">
      <div class="col-6 full-width-sm" style="display: flex; justify-content: center;">
        <div class="form-group form-floating col-md-10">
          <input type="text" name='mode' class="form-control" id="inputMode" placeholder="Mode" value='{{meeting.Meeting_mode}}' disabled>
          <label for="inputMode">Mode</label>
        </div>
      </div>

      <div class="col-6 full-width-sm" style="display: flex; justify-content: center;">
        <div class="form-group form-floating col-md-10">
          <input type="text" name='venue' class="form-control" id="inputVenue" placeholder="Venue" value='{{meeting.Meeting_link_or_venue}}' disabled>
          <label for="inputVenue">Venue</label>
        </div>
      </div>
    </div>

    <!-- Forth Row  -->
    <form method='POST'>
      {% csrf_token %}
      <div class="row pt-3">
        <div class="col-6 full-width-sm" style="display: flex; justify-content: center;">
          <div class="form-group form-floating col-md-10">
            <textarea type="text" name='note' class="form-control" id="inputNote" placeholder="Note">{{meetinfo.Notes}}</textarea>
            <label for="inputNote">Note</label>
          </div>
        </div>
        <div class="col-6" style="display: flex; justify-content: center;">
          <div class="form-group form-floating col-md-10">
            <select id="inputAttendance" class="form-select" name="attedance">
              {% if not meetinfo.Attendance %}
              <option disabled selected>Please Mark Attendance</option>
              {% else %}
              <option disabled>Please Mark Attendance</option>
              {% endif %}
              {% if meetinfo.Attendance and meetinfo.Attendance == True or meetinfo.Attendance == 'True' %}
              <option selected>Present</option>
              {% else %}
              <option>Present</option>
              {% endif %}
              {% if meetinfo.Attendance and meetinfo.Attendance == False or meetinfo.Attendance == 'False' %}
              <option selected>Absent</option>
              {% else %}
              <option>Absent</option>
              {% endif %}
            </select>
            <label for="inputAttendance">Attendance</label>
          </div>
        </div>
      </div>
  </div>

  <!-- buttons -->
  <div class="d-flex align-items-center justify-content-center m-3 mt-5">

    <button type="submit" class="btn btn-sm update-btn ms-auto custom-btn">
      ADD NOTES
    </button>

    <button type="button" class="btn btn-sm cancel-btn" onClick="window.history.back();" style="width: auto; margin-left: 10px; border-radius: 7px; background-color: #8C0000; color: white; box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.5);">
      CANCEL
    </button>

  </div>
  </form>
</div>
{% endif %}
{% endblock %}
